[2017-10-26 08:12] DawidCh opened #4 "New Development Repository"
_From @GoebelL on September 21, 2017 13:46_

_Copied from original issue: servicecatalog/development#833_

[2017-10-26 08:12] DawidCh commented on #4
_From @GoebelL on October 24, 2017 10:41_

New repository name "oscm".
Following tasks come into my mind. Please add if you have more.

Todo:
1. tag development master and TomEE branches
2. mirror copy develepment->oscm
3. Put TomEE branch on master and delete all unneeded branches
4. Shift Jenkins jobs, ee jobs checkout scripts
5. travis CI
6. reviewable
7. codecov
8. zenhub
9. other webhooks
10.

[2017-10-26 08:12] DawidCh commented on #4
_From @grubskim on October 25, 2017 14:0_

Done - created tag v17.5.0-RC1 in development, oscm, oscm-dockerbuild and ops repositories.

Done - new repository: https://github.com/servicecatalog/oscm.git

Done - the tomee code has been merged to the respective master branches of oscm (mirrored development), oscm-dockerbuild, and ops repositories. Tomee branches deleted.

[2017-10-26 08:12] DawidCh commented on #4
_From @grubskim on October 26, 2017 8:9_

Done, copied from development repository.

[2017-10-26 08:13] DawidCh opened #5 "Uncomment two tests"
_From @DawidCh on September 29, 2017 10:4_

Fix and uncomment the tests.
7a6045817ca8290f77183f186154fc511f658c0c

_Copied from original issue: servicecatalog/development#843_

[2017-10-26 08:13] DawidCh commented on #5
Functionality works. Link to custom tab is generated properly.

[2017-10-26 08:13] DawidCh opened #6 "Chrome: Service Instance Details of controller instance looks weird"
_From @SylviaDehn on October 17, 2017 11:38_

[Version] OSCM 17.4.0 2017/10/16
Docker image with TomEE
Chrome ONLY

[How to reproduce]
1. go to controller service instances url
e.g.
http://estst1.intern.est.fujitsu.com:8880/oscm-app/controller/?controllerid=ess.openstack
2. double click on an instance and page down in dialog box

[Expected result]
dialog box looks normal

[Observed result]
you can

[2017-10-26 08:13] DawidCh commented on #6
_From @SylviaDehn on October 17, 2017 11:39_

![serviceinstancedetails](https://user-images.githubusercontent.com/15086024/31662914-8b14dc1a-b340-11e7-8ddf-3518d4f0fcb9.png)

[2017-10-26 08:13] DawidCh opened #7 "Web Services End Points in Mock Product does not match with the ones in TomEE"
_From @victorhrsilva on October 18, 2017 6:55_

[Version] OSCM 17.4.0 2017/10/13
Docker image with TomEE

[How to reproduce]
Try to use mockproduct app to Trigger Service Approve Action

[Expected result]
Mockproduct manage to approve the process trigged via WS

[Observed result]
Any operation of mock product receives connection time-out

[Details]
Current WebService endpoint of docker images e.g.

[2017-10-26 08:13] DawidCh commented on #7
_From @StavrevaS on October 18, 2017 7:55_

Try to use the mock product from the repository https://github.com/servicecatalog/oscm-soap-mock
It is available as docker image in dockerhub.
If it works, we can delete the project in the development repository.

[2017-10-26 08:13] DawidCh commented on #7
_From @victorhrsilva on October 19, 2017 8:27_

I have pull and started the docker with `docker run -d --name oscm-soap-mock -p 9680:8080 servicecatalog/oscm-soap-mock`

Target URL on process trigger: http://hostname:9680/oscm-soap-mock/NotificationService?wsdl
Base URL on Mock: http://hostname:8080/

Results:
Status | Reason
-- | --
 The external system did not accept the action | java.net.Connec

[2017-10-26 08:13] DawidCh commented on #7
_From @StavrevaS on October 23, 2017 7:1_

The docker build file should be extended to expose the necessary ports.

[2017-10-26 08:13] DawidCh opened #8 "Improve error message on stack creation failure with OpenStack subscriptions"
_From @kwodzynski on October 19, 2017 6:38_

[Version] OSCM 17.5.0 2017/10/18
Docker image with TomEE

[How to reproduce]
1. Subscribe the Openstack subscription
2. Go to Account -> Subscriptions
3. Go to Openstack Dashboard
4. Go to Openstack Controller

[Expected result]
- Stack and instances are created in Openstack Dashboard
- The subscription is visible in the Controller and in Subscriptions

[2017-10-26 08:13] DawidCh commented on #8
_From @kwodzynski on October 19, 2017 6:55_

I have removed all of stacks from Openstack Dashboard. The functionality works correctly, but in my opinion when the openstack is overloaded, we should receive different message.

[2017-10-26 08:13] DawidCh opened #9 "operation failed with logout at marketplace"
_From @SylviaDehn on October 19, 2017 10:51_

[Version] OSCM 17.5.0 2017/10/18
Docker image with TomEE

[How to reproduce]
1. login as customer administrator
2. choose subscription, press get it now (but do nothing else here)
3. press logout

[Expected result]
logout is carried out

[Observed result]
operation failed

[Details]
In general logout is ok, but not if you start to subscribe and then lo

[2017-10-26 08:13] DawidCh opened #10 "version info also pops up from clicking in some corner place"
_From @SylviaDehn on October 19, 2017 11:59_

[Version] OSCM 17.4.0 2017/10/19
Docker image with TomEE

[How to reproduce]
1. check version of app software
http://estst1.intern.est.fujitsu.com:8880/oscm-app/

[Expected result]
clicking on OSCM on the left gives me version info

[Observed result]
I do not know where to click, cursor does not change shape

_Copied from original issue: servicecatalog

[2017-10-26 08:13] DawidCh commented on #10
_From @kwodzynski on October 23, 2017 8:45_

You need to click on the right of "USER ID: name_of_logged_user" (right top corner). The place to show version info should be standardized and always be displayed after click on OSCM logo.
The problem occurs on each controller.

[2017-10-26 08:14] DawidCh opened #11 "audit log not available"
_From @SylviaDehn on October 19, 2017 12:41_

[Version] OSCM 17.5.0 2017/10/19
Docker image with TomEE

[How to reproduce]
1. turn on audit log in configuration settings
2. carry out operations that are normally logged in audit log
3. as platform operator export audit log

[Expected result]
audit log is exported

[Observed result]
error shown: No audit log data available for export.

_Copied from

[2017-10-26 08:20] DawidCh commented on #4
Done

[2017-10-26 11:25] shimizuf opened #13 "Remove deprecated config settings from UI"
Several config settings in the administration portal are deprecated and should be marked as such or removed.
These were found:
* HTTP_PROXY_*: Historic; proxy settings for the application must be implemented in a different way
* LOG_FILE_PATH: Obsolete with Docker images
* LOG_CONFIG_FILE: Obsolete with Docker images
* KEY_FILE_PATH: Obsolete with Docker images

There may be more.

[2017-10-26 11:25] shimizuf commented on #13
@GoebelL Please set labels and assign as appropriate.

[2017-10-26 15:05] victorhrsilva opened #14 "External webservice client is unable to connect to via http protocol"
[Version]
OSCM 17.5 2017/10/25
Docker image with TomEE

[How to reproduce]
Use the WS_sampler tool and try to connect with WebServices in OSCM via http protocol (http://server-host-name:8080/webservices/)

[Expected result]
Be able to connect to the WebServices via external tool

[Observed result]
Client receives the follow error message:

Client received SOAP Fault from server: A security error w

[2017-10-26 18:08] GoebelL commented on #7
The docker build file @StavrevaS mentioned is contained https://github.com/servicecatalog/oscm-soap-mock
@DawidCh Please move the issue there.

[2017-10-27 07:46] shimizuf opened #15 "Make TomEE install directory name generic"
Currently TomEE is installed into the directory /opt/apache-tomee-plume-7.0.3

Having the version number in the path increases efforts and probability for errors.

In servicecatalog/oscm-dockerbuild/issues/64 we're changing the Docker code to have a generic named directory /opt/apache-tomee.

In APP and Controllers, several property files exists which hard code log file paths to /opt/apache-tomee-

[2017-10-27 07:47] shimizuf commented on #15
Affected files:
[code]

[2017-10-27 08:26] #15 closed, assigned to shimizuf

[2017-10-27 11:28] grubskim commented on #4
travis CI
reviewable
codecov
zenhub
other webhooks
docker build

Done.

[2017-10-27 11:28] #4 closed, assigned to grubskim

[2017-10-27 13:13] DawidCh commented on #7
Issue moved to [servicecatalog/oscm-soap-mock #1](https://github.com/servicecatalog/oscm-soap-mock/issues/1) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-27 13:13] #7 closed, assigned to StavrevaS

[2017-10-30 08:57] GoebelL opened #18 "Remove oscm-integrationtests-mockproduct"
This mock service has already been extracted to https://github.com/servicecatalog/oscm-soap-mock

Tasks
- remove project
- link oscm-soap-mock to oscm
- adapt build and tests in oscm
- ... ?

[2017-10-30 09:02] DawidCh commented on #18
It is already done:
https://github.com/servicecatalog/oscm/pull/17

[2017-10-30 09:02] #18 closed, assigned to DawidCh

[2017-10-30 11:34] kwodzynski opened #20 "Strange look of Birt reports"
[Version] OSCM 17.5.0 2017/10/30
Docker image with TomEE

[How to reproduce]

1. Login to administration portal and to the marketplace
2. Go to Account -> Create report (portal) and to Account -> Reports (marketplace)
3. Click on any report (portal); choose any report from the list (mktpl)

[Expected result]
Shown reports looks as expected

[Observed result]
The report looks weird (screens below)

[2017-10-30 11:57] kwodzynski opened #21 "The Birt reports do not work with https access"
[Version] OSCM 17.5.0 2017/10/30
Docker image with TomEE

[How to reproduce]

1.    Login to administration portal and to the marketplace
 2.   Go to Account -> Create report (portal) and to Account -> Reports (marketplace)
 3.   Click on any report (portal); choose any report from the list (mktpl)

[Expected result]
The report is shown

[Observed result]
Nothing happens, the report is not shown

[2017-10-30 16:51] GoebelL commented on #21
Do you mean HTTPS not HTTP? Not that only HTTPS is going to be supported for any kind of OSCM access from external host. We have successfully tested the reports recently. If reports are not executable for your tests please check following.

Questions
 * Can you create BIRT sample reports from the browser?
 * Are report configuration settings correct
 * In BIRT application within the container, loc

[2017-10-31 09:34] victorhrsilva commented on #14
I have added the org.oscm.security.SOAPSecurityHandler to my WSClient based on oscm-soap-mock and it works.

[2017-10-31 09:34] #14 closed, assigned to DawidCh

[2017-10-31 11:35] victorhrsilva opened #22 "SOAP API call getAvailablePaymentTypes() always returns null"
[Version]
OSCM Tomee 17.5 2017/10/27

[How to reproduce]
* Try to save payment configuration via SOAP API call as a Supplier

`savePaymentConfiguration(
                        anySetOf(VOPaymentType.class),
                        anyListOf(VOOrganizationPaymentConfiguration.class),
                        anySetOf(VOPaymentType.class),
                        anyListOf(VOServicePaymentConfigurat

[2017-11-02 10:24] ghost opened #23 "Initial log-in to controller UI only possible with PLATFORM_OPERATOR administrator"
[Version] OSCM 17.7.0 2017/11/02
Docker image with TomEE
Chrome

[How to reproduce]

1.    default for logging into a controller after docker containers are started, is user "administrator"
      of PLATFORM_OPERATOR organization (after adding additional roles to organization and user)
2.    In a productive environment, once this is done, the user and organization can be changed to the
       cont

[2017-11-02 10:30] ghost commented on #23
This bug was moved from https://github.com/servicecatalog/development/issues/849

[2017-11-02 11:01] GoebelL opened #25 "Split off OSCM external interfaces to seperate repository"
A prerequisite for mavenizing the REST API and Provisioning adapters, dependencies like external interfaces need to be put on maven as well.

First tasks (please complete)
1. Copy projects in separate repository oscm-external-interfaces
2. Maven build project artifacts
3. Artifacts as releases
4. Adapt OSCM build
5. Adapt docker build
6. Adapt jenkins jobs, CE and EE
...

x. Clean-up: Remove copie

[2017-11-02 12:11] ghost opened #26 "Customer menu entries do not work for administrator (with supplier/tech provider role)"
[Version] OSCM 17.5.0 2017/11/02
Docker image with TomEE

[How to reproduce]
1.    log in as platform operator 'administrator',
      who is Supplier/Tech Provider
      (this is necessary due to issue https://github.com/servicecatalog/oscm/issues/23)
2.   select menu 'Manage VAT rates' or any other 'Customer' menu item
     ('Customer' menu is visible because of role change)

[Expected result]
VA

[2017-11-02 12:55] grubskim commented on #13
Removed HTTP_PROXY and HTTP_PROXY_PORT completely.
Following settings are now hidden from the UI:
LOG_FILE_PATH
LOG_CONFIG_FILE
KEY_FILE_PATH

[2017-11-02 12:56] grubskim commented on #22
The method for retrieving the payment types was ignoring the "Invoice" type. Changed it ot retrieve all types.

[2017-11-02 12:56] #22 closed, assigned to grubskim

[2017-11-02 13:51] ghost opened #28 "Chrome busy cursor with many marketplace operations"
[Build] 17.5 2017/11/02

[Steps to reproduce]
Using Chrome only:
1.   log in as customer to marketplace
2.   click on ACCOUNT/Subscriptions or any other menu item in ACCOUNT

[Expected result]
Subscriptions are listed and curser goes from turning to pointing hand

[Observed result]
Cursor keeps turning unless moved

[Details]
This happens during many other operations too. It is confusing, and make

[2017-11-02 14:02] grubskim commented on #20
Seems like a certificate problem... Even when report URL uses http, the browser console still shows that https is used. @shimizuf could you maybe take a look?

[2017-11-02 14:18] ghost opened #29 "where are the licenses found for docker version of oscm?"
[Build] 17.5 2017/11/02

We used to provide license files with the install pack. Where is this information found with docker containers?

[2017-11-02 15:55] grubskim commented on #10
Fixed header to be clickable and to change cursor to pointer.

[2017-11-02 15:58] victorhrsilva commented on #22
[Verified at]
OSCM Tomee 17.5 2017/11/02

[Status]
Issue fixed

[2017-11-02 16:11] grubskim commented on #29
@SylviaDehn Currently it is not packaged anywhere. If you think it should be, please let us know the proper location for it.

I guess you mean [this](https://github.com/servicecatalog/development/blob/master/LICENSE) license ?

[2017-11-02 16:11] #29 closed, assigned to nobody

[2017-11-02 16:18] grubskim commented on #26
It seems to be working fine:
![issue26](https://user-images.githubusercontent.com/14539765/32337210-a3c190d8-bff1-11e7-832d-8976c5fee442.PNG)
Please check if you have the proper roles for the administrator user in the "manage users" menu (after you set the proper organization roles)

[2017-11-02 16:18] #26 closed, assigned to grubskim

[2017-11-02 17:44] GoebelL commented on #23
This is a concept issue. There may be several options to solve. In any case, operating provisioning adapters must not require customers to change the PLATFORM_OPERATOR roles.

If I get it right, the actual issue is that the controller administrator cannot be changed once it has been configured. This is, because changing the controller administrator is done in the specific controller UI while chang

[2017-11-02 18:34] grubskim commented on #5
Uncommented two tests and added missing libraries:
cxf-rt-rs-client-3.1.10.jar
cxf-core.jar
cxf-rt-frontend-jaxrs.jar
geronimo-javamail_1.4_mail-1.9.0-alpha-2.jar

to:
oscm-portal\.classpath
oscm-triggerservice\.classpath

These libraries come with fresh TomEE installation, so it should not break any functionality.

[2017-11-02 18:34] #5 closed, assigned to grubskim

[2017-11-02 18:45] GoebelL commented on #29
We won't package those files as before. The target delivery path is the docker registry.
We will place a respective note at the end of the full description on the registry page.

Example:

**License**
This software is provided under [Apache 2.0 License](https://github.com/servicecatalog/oscm/blob/master/LICENSE). View the [NOTICE file](https://github.com/servicecatalog/oscm/blob/master/NOTICE.txt)

[2017-11-02 19:01] GoebelL opened #31 "License information"
Steps
1. Scan all image tarballs for license updates
2. Update the [NOTICE file](https://github.com/servicecatalog/oscm/blob/master/NOTICE.txt).
3. Place following disclaimer text at the end of repository description in DockerHub.

**License**
This software is provided under [Apache 2.0 License](https://github.com/servicecatalog/oscm/blob/master/LICENSE). View the [NOTICE file](https://github.com/

[2017-11-02 19:02] GoebelL commented on #29
See #31

[2017-11-03 08:32] kwodzynski commented on #10
Tested on Docker image 17.5 2017/11/03 - Version info is shown after click on "Open Service Catalog Manager" logo. But right top corner is still clickable. We can display version info after click on two above places. Is it good behavior? In portal only logo is clickable.
Reopen, please close if the behavior is good.

[2017-11-03 09:33] kwodzynski commented on #21
Hi @GoebelL

- I can create report from the browser with http and https
- I think my configuration is correct:
1.REPORT_ENGINEURL: http://10.140.18.123:8680/birt/frameset?__report=${reportname}.rptdesign&SessionId=${sessionid}&__locale=${locale}&WSDLURL=${wsdlurl}&SOAPEndPoint=${soapendpoint}&wsname=Report&wsport=ReportPort
2.REPORT_SOAP_ENDPOINT: http://oscm-core:8080/oscm-reporting/ReportingServ

[2017-11-03 13:14] kwodzynski opened #32 "No possibility to recover password"
[Version] OSCM 17.5.0 2017/11/03
Docker image with TomEE

[How to reproduce]

1.Go to oscm-portal
 2.On login screen click "Forgot your password?"

[Expected result]
The recoverPassword page is displayed
We can fill in "User ID" and rewrite "Word verification"

[Observed result]
The recoverPassword page is displayed
We can fill in "User ID" but we cannot rewrite "Word verification", because the wo

[2017-11-03 13:41] kwodzynski opened #33 "Possibility of update database on Docker image"
When we run new Docker image with OSCM, we have new, pure database.
What if client has a database with a lot of data and he cannot "clean" his db?
We need possibility to update instead of purge the Database.

[2017-11-03 14:11] GoebelL commented on #33
Databases are not purged by updating OSCM. Only the schema is upgraded to latest model version from the init scripts invoked on container start. The user mounts his persistence volumes in the database container at a defined location. For an update he pulls the containers from the registry and starts them or runs the provided deployer script for this purpose. In any case the contained data is prese

[2017-11-03 14:17] GoebelL commented on #33
See https://github.com/servicecatalog/oscm-dockerbuild.

[2017-11-06 08:44] shimizuf commented on #21
@kwodzynski Are you actually accessing the portal and report engine with the host name or with the IP address? I see that in viewer.properties the host name is set. If you access the reporting engine with the IP address this may cause issues.

Can you please try the following:
* If you do not have DNS, please try to create an entry in your system's hosts file so you can use the host name to access

[2017-11-06 09:16] shimizuf commented on #20
I suspect this might be related to #21. Could you please try the following:
* Access the report engine's example report directly in your browser:
* URL: <PROTOCOL>://<HOST_OR_IP>:<PORT>/birt/frameset?__report=test.rptdesign&sample=my+parameter
* For PROTOCOL, HOST_OR_UP and PORT, please use the same that you set in the REPORT_ENGINEURL setting.
* Do you see the **Congratulations!** message?

Also,

[2017-11-06 09:25] shimizuf commented on #33
Correct. initdb does not overwrite or purge data. It updates the database schema and - this is the only exception - overwrites the config settings. The latter is intended. I think this can be closed.

[2017-11-06 09:44] GoebelL commented on #13
BASE_URL_HTTP needs to be removed from UI. HTTPS is mandatory for access from different network or host. HTTP is only for internal communication. Therefore BASE_URL_HTTPS needs to be set mandatory.

The removal of BASE_URL_HTTP maybe risky for the next release in terms of side-impacts and efforts. For this milestone, it shall be sufficient to leave the property empty, read-only and hide it in the

[2017-11-06 21:54] #33 closed, assigned to kwodzynski

[2017-11-07 06:04] DawidCh commented on #13
I wouldn't remove anything, just hide from user, as Michał did with LOG_FILE_PATH. It is the safest way.

[2017-11-07 08:11] kwodzynski commented on #21
Hi @shimizuf
I added dns to my host file, but our polish proxy cannot resolve that.
Should I change base_url in viewer.properties to IP ?

[2017-11-07 08:18] shimizuf commented on #21
It's worth trying, yes. But it's possible that the configuration change requires a restart of Tomcat which will end your running container.

I think this might be easier:
Stop the running containers manually on the Docker system. Then edit the var.env file to have the HOST_FQDN variable contain the IP address instead of the host name. Then use Docker Compose to start the containers again. The view

[2017-11-07 08:52] kwodzynski commented on #21
@shimizuf I followed your instruction and now I have base_url set to IP address. But I still can't generate the Birt reports in https. I think I may be caused by number of port (base_url=https://10.140.18.123:8681)
Shouldn't be there port to oscm-core container?

[2017-11-07 09:02] shimizuf commented on #21
In the case of the reporting engine the port is correct. Here, base_url must be set to the base URL of the reporting engine.

Now that you have set the base_url to the IP address, can you please try to access the report engine's example report?
https://10.140.18.123:8681/birt/frameset?__report=test.rptdesign&sample=my+parameter

[2017-11-07 09:28] kwodzynski commented on #21
Ok, since I have changed REPORT_ENGINEURL to https, I can generate reports. Thanks for your help. Closing

[2017-11-07 09:28] #21 closed, assigned to GoebelL

[2017-11-07 09:32] kwodzynski commented on #20
If the REPORT_ENGINEURL is set to https, the Birt reports work and look fine.
@GoebelL wrote in #21 "only HTTPS is going to be supported for any kind of OSCM access from external host". Closing

[2017-11-07 09:32] #20 closed, assigned to grubskim

[2017-11-07 12:29] ghost opened #34 "changing controller settings results in java.lang.reflect.UndeclaredThrowableException"
[Build] 17.5 2017/11/07

[Steps to reproduce]
1. log in to aws controller as administrator (who is also technology provider and service manager)
2. change UserID, key and password
3. save configuration

[Expected result]
readable exception

[Observed result]
java.lang.reflect.UndeclaredThrowableException

[Details]
This step is necessary to update the controller manager.

[2017-11-07 12:34] ghost opened #35 "operation failed when updating aws managing organization id"
[Build] 17.5 2017/11/07

[Steps to reproduce]
1. log in to aws controller as administrator (who is also technology provider and service manager)
2. change UserID, key and password
3. save configuration (this results in java.lang.reflect.UndeclaredThrowableException, but ignore this)
4. as platform administrator change organization id for aws in
http://estst1.intern.est.fujitsu.com:8880/oscm-app/

[2017-11-08 12:43] ghost opened #36 "Cannot import a certificates into oscm-core docker container"
[Build] 17.5 2017/11/07

[Steps to reproduce]
(on host machine of docker containers)
1. add volume section to oscm-core in docker compose file 'docker-compose-oscm.yml'
volumes:
         - /var/lib/jenkins/workspace/QA_Docker_pull_and_start/jenkins/docker/certs:/import/certs
2. copy PEM format certificate to
    /var/lib/jenkins/workspace/QA_Docker_pull_and_start/jenkins/docker/certs
3. stop/remov

[2017-11-08 12:58] ghost opened #37 "Importing a certificate into oscm-core container deletes existing oscm-app certificate"
[Build] 17.5 2017/11/07

[Steps to reproduce]
carry out steps described in https://github.com/servicecatalog/oscm/issues/36

[Expected result]
existing certificates e.g. for oscm-app are not removed

[Observed result]
existing certificates e.g. for oscm-app IS removed

[Details]
It seems the same certificate is used for oscm-core and oscm-app containers. But if I try to load in a new
certificate,

[2017-11-08 13:19] ghost opened #38 "Add description on how to import certificates into oscm containers"
[Build] 17.5 2017/11/07

[Details]
After steps described in #36 are verified, please add description to documentation

[2017-11-08 15:11] GoebelL commented on #23
Conditions for initial setup:
* PLATFORM_OPERATOR without roles
* OpenStack and AWS controller installed

Proposed solution:
* PLATFORM_OPERATOR administrator as initial owner of APP and controllers
* Modify controller login to allow also PLATFORM_OPERATOR administrator for switching the organization and user of controllers. In exception to other APP operations and only for this user change: The u

[2017-11-08 15:28] ghost opened #39 "Warning with manual startup of docker container"
[Build] 17.5 2017/11/07

[Steps to reproduce]
1.    stop/remove/start containers
    cd /jenkins/docker
    docker-compose -f docker-compose-oscm.yml stop oscm-core
    docker-compose -f docker-compose-oscm.yml rm -f oscm-core
    docker-compose -f docker-compose-oscm.yml up -d oscm-core

[Expected result]
no errors and warnings

[Observed result]
docker-compose -f docker-compose-oscm.yml up -d os

[2017-11-08 15:42] ghost commented on #39
moved to https://github.com/servicecatalog/oscm-dockerbuild/issues/71

[2017-11-08 15:42] #39 closed, assigned to nobody

[2017-11-08 15:59] GoebelL commented on #35
Related with issue #23. Consider a combined fix.

[2017-11-09 10:08] DawidCh opened #40 "Uncomment tests"

[2017-11-09 12:49] ghost commented on #35
[Build] 2017/11/09 seems to work now. Or this only happens sometimes. Closing with worksforme

[2017-11-09 12:49] #35 closed, assigned to nobody

[2017-11-13 07:41] ghost commented on #36
moved to https://github.com/servicecatalog/oscm-dockerbuild/issues/73

[2017-11-13 07:41] #36 closed, assigned to nobody

[2017-11-13 07:42] ghost commented on #37
moved to https://github.com/servicecatalog/oscm-dockerbuild/issues/74

[2017-11-13 07:42] #37 closed, assigned to nobody

[2017-11-13 09:15] GoebelL commented on #32
@kwodzynski
Please attach your log files.

[2017-11-13 09:32] kwodzynski commented on #32
[catalina.2017-11-13.log](https://github.com/servicecatalog/oscm/files/1466249/catalina.2017-11-13.log)

@GoebelL I attached my oscm-core log, but there is nothing about problem with recover the password. If you want another log file, please let me know

[2017-11-13 16:44] GoebelL commented on #13
Agreed.

[2017-11-14 06:57] DawidCh commented on #40
Revert temporary changes from commit 2260fd56b9e60bf6d68d99df98b55d440f86a98f

[2017-11-14 09:50] DawidCh commented on #40
Reverted.

[2017-11-14 10:02] gertipoppel opened #41 "How can help and report labels be modified?"
I want to add customized help files or report labels in OSCM. How can this be achieved? The "old way" is described in the Operator's Guide, Appendix E

[2017-11-14 10:09] shimizuf commented on #41
Hi @gertipoppel.

Regarding customized help files, there is an open issue here: servicecatalog/oscm-dockerbuild/issues/65. Basically it will be possible to create archives containing the customized help files and mount them into the online help container, which will then provide/serve them.

As for custom report labels, I'll create an issue in servicecatalog/oscm-dockerbuild since it's an enhancem

[2017-11-14 10:13] shimizuf commented on #41
Issue regarding custom reports: servicecatalog/oscm-dockerbuild/issues/76

Closing as duplicate.

[2017-11-14 10:13] #41 closed, assigned to nobody

[2017-11-14 11:21] grubskim commented on #32
Log from the debugger during captcha creation:
[code]

[2017-11-14 11:22] grubskim commented on #32
Possibly issue with OpenJDK, investigating further.

[2017-11-14 12:52] gertipoppel opened #42 "HIDE_PAYMENT_INFORMATION cannot be set on GUI"
The HIDE_PAYMENT_INFORMATION parameter cannot be set in the portal and its default value is not shown (Operation -> Update Configuration Settings). Is there any reason for this?

[2017-11-14 17:49] grubskim commented on #32
Fixed through the oscm-dockerbuild repository in commit [da0073](https://github.com/servicecatalog/oscm-dockerbuild/commit/da007357d29f081568471c6ccac7a66cf703542f).

The reason was the Helvetica font missing from the suse image which oscm is based on. This font is used for the captcha creation.

[2017-11-14 17:49] #32 closed, assigned to grubskim

[2017-11-15 11:03] grubskim commented on #13
Added BASE_URL to the hidden settings. BASE_URL_HTTPS is mandatory.

[2017-11-15 11:03] #13 closed, assigned to grubskim

[2017-11-16 08:15] DawidCh opened #44 "Remove exported projects from fb_tomee_maven branch"
Remove projects which are exported to following repositories
https://github.com/servicecatalog/oscm-interfaces
https://github.com/servicecatalog/oscm-commons
https://github.com/servicecatalog/oscm-app
Check if unittests are also exported.

[2017-11-16 10:12] grubskim commented on #23
Platform operator can now log in to the controllers.

[2017-11-16 11:53] ghost commented on #34
This is extremely annoying, since I do not know what the problem is. I changed the password only and I get this message. I have no idea if the change was commited or not.

[2017-11-16 12:28] ghost opened #46 "changing password for controller managers"
[Build] 17.5 2017/11/16

[Details]
Please add documentation (online is important here), on the order of changing password for controller managers.
You have to change the password first in APP UI and then in portal. Otherwise you cannot log in to the controller to change it there (the reason for this is that you have 2 way authentication here, for a reason that I do not remember). A hint for the us

[2017-11-16 12:36] grubskim commented on #34
I am not getting this exception. Could you please retest with the changes i pushed today regarding platform operator login to APP?

[2017-11-16 13:16] ghost commented on #34
administrator login to controller works (so I guess I am using the correct version); And I am still getting this exception. e.g. Changing password (to a different value) results in this exception

[2017-11-16 13:55] grubskim commented on #42
As HIDE_PAYMENT_INFORMATION is read-only, I have hidden it from the UI.

[2017-11-16 13:55] #42 closed, assigned to nobody

[2017-11-16 14:44] grubskim commented on #34
I can reproduce it now.

[2017-11-17 09:25] kowalczyka opened #48 "Make online portal help location configurable"
Portal help is reachable by portal itself indirectly through the link which poin to the same host as portal itself.

As portal help will be delivered in the separate container, portal must be adapted so that the location of online help is configurable.

[2017-11-17 12:56] uhu133 opened #49 "Very slow UI after "Get it Now""
OSCM 17.4.
Provisioning Service based on APP (Powershell)

When using user "cmgt-business" and subcribing to a service (HyperV), the UI change from "Get it Now" to the configuration dialog takes 2 seconds which is very good.
When using the user "cmgt-it" (who is in the supplier organization) and subcribing to the same service (HyperV) the change from "Get it Now" to the configuration dialog takes

[2017-11-17 14:50] GoebelL commented on #49
This issue was moved to servicecatalog/development#883

[2017-11-17 14:50] #49 closed, assigned to nobody

[2017-11-17 16:31] grubskim commented on #34
Removed authentication with Bes during DB operation in APP controller. I think it is unnecessary to communicate with BES when saving/retrieving from APP db.

[2017-11-17 16:31] #34 closed, assigned to grubskim

[2017-11-21 14:27] grubskim opened #50 "LOG_LEVEL configuration setting not working"
Changing LOG_LEVEL does not have any effect on the log output.

How to reproduce:
Change LOG_LEVEL to, for instance OFF - expecting no log output. Relog the user. The information "user logged in" will be shown in log.

[2017-11-21 14:30] gertipoppel commented on #50
Are there additional log levels now? INFO, DEBUG, WARNING were the ones.

[2017-11-21 14:55] shimizuf commented on #50
@grubskim If I recall correctly the LOG_LEVEL Docker variable may only have effect in the initdb container, i.e. as a config setting for the database initialization. It may not have any effect if set for the application containers (core, app, ...).

[2017-11-22 11:50] grubskim commented on #11
Fixed with [commit](https://github.com/servicecatalog/oscm/commit/e14d690fa99c6ee0c4fc4afc47f976bdab886dcc).

[2017-11-22 11:50] #11 closed, assigned to nobody

[2017-11-22 11:52] grubskim commented on #50
Should this setting be editable at all then? @shimizuf @GoebelL

[2017-11-22 15:51] grubskim commented on #6
Cannot reproduce the error.

Tested with Chrome 62.0.3202 (latest version), everything appears fine:
![openstack_popup](https://user-images.githubusercontent.com/14539765/33136333-413d4362-cfa5-11e7-96c1-306e6bc92e22.PNG)

[2017-11-22 15:51] #6 closed, assigned to nobody

[2017-11-22 16:58] shimizuf commented on #50
I see two aspects here.

In principle it is already editable because it is a variable in the initdb image. And it will be set in the respective property files for db initialization. See for example configsettings.properties.core.template. But the functionality must be tested.

Another question is whether we want to expose the setting in the Docker Compose templates. At the moment it's not present

[2017-11-24 08:38] kwodzynski opened #53 "Technical provider from Sample Data has no privileges to carry on the Actions in controller"
[Version] OSCM 17.5.0 2017/11/24

[How to reproduce]

1. Create new subscription for Openstack
2. Login to Openstack controller /oscm-app/controller/?controllerid=ess.openstack as techprovider (Sample data)
3. Chose some action from the "Action" list
4. Click "Execute" button

[Expected result]
The action is carried on

[Observed result]
Red message:

and error in log:

24-Nov-2017 08:24:29.996 WA

[2017-11-24 17:39] GoebelL commented on #49
Checking the data from both users the cause gets clear.
In opposite to "cmgt-business" the user “ctmg-it” has defined a Create Subscription trigger. This trigger is not correctly configured, respectively the URL points to a location where either no notification service is deployed or this service is not functional.

“java.io.IOException: Error 404 while retrieving http://ESCM-SERVER:8880/approval/

[2017-11-27 22:46] GoebelL commented on #50
Beside of initdb, we need at least to carry out the log levels for core and app containers. I guess it's less effort to just allow and propagate this setting with Docker Compose files than to describe in the Operator's Guide how to configure it manually. So, please go ahead and expose it.

[2017-11-28 12:43] grubskim commented on #53
There are following problems with this:
1) RolesAllowed: "SERVICE_MANAGER", "BROKER_MANAGER", "RESELLER_MANAGER".
Technical provider does not have SERVICE_MANAGER role so I assigned it to him, but then:
2) TP is not a supplier of the customer which created the subscription, so i created this assignment, then:
3) TP is not a supplier.

So the solutions would be:
A) In sample data, prepare user who

[2017-11-28 15:03] GoebelL commented on #53
Let's keep it simple. I would go for A.
However, steps 2. and 3. are not exactly clear for me. This appears as if your assignment operation after 2. didn't change anything. So, did you grant the Supplier role to the TP organization?

[2017-11-28 15:04] GoebelL commented on #53
Please check this again.

[2017-11-29 08:17] grubskim commented on #53
No, I didn't. I just created an entry by hand in the organizationreference table, so technically TP didn't have the supplier role.

[2017-11-30 10:03] kwodzynski commented on #32
Tested on 17.5 2017/11/29 - it works as expected

[2017-11-30 10:59] DawidCh opened #55 "Uncomment tests"
Uncomment ignored IT tests.
a9097492038660730015ac6c502220ecf86e8c4c
a251f9a95ff795e8ae8146d65d4d1d1b518180b7
e1fa3a9aca96550685a276511bc63f8ad35fc769
4ab1c56758d0d45b56f04414cfacc6b6d9923c39
c345df65538c759d886c597176c6e35c681523d9

[2017-11-30 11:00] #40 closed, assigned to DawidCh

[2017-11-30 12:13] kwodzynski opened #56 "HeaderUserId is not displayed into controllers"
[Version] OSCM 17.5.0 2017/11/29

[How to reproduce]

Login to controllers:

- /oscm-app/

- /oscm-app-openstack/
- /oscm-app/controller/?controllerid=ess.openstack

[Expected result]
In right top corner:
User ID : name_of_logged_user

[Observed result]
HeaderUserId is not displayed into controllers

[Details]
![no_name](https://user-images.githubusercontent.com/18006407/33430256-354511a8-d5d0-11e

[2017-11-30 12:48] kwodzynski opened #58 "No default entries for AWS in app configurationsetting table although aws controller is deployed"
[Version] OSCM 17.5.0 2017/11/29

[How to reproduce]

Login to app controller /oscm-app/

[Expected result]
In table are two "Controller ID" by default
- for Openstack
- for AWS

[Observed result]
There is only one controller: for Openstack

[Details]
I remember the problem. It was related with https://github.com/servicecatalog/development/issues/866 but then it was repaired. The problem got back

[2017-11-30 13:14] shimizuf commented on #58
For a fix I propose that we remove the variable CONTROLLER_ID from var.env and move it to the specific containers in docker-compose-initdb.yml[.template]. In docker-compose-initdb.yml[.template] the container oscm-initdb-controller-openstack should have a variable of CONTROLLER_ID=ess.openstack, and analogous for the aws controller container. In that way we can initialize both controller databases

[2017-11-30 13:16] kwodzynski commented on #6
I cannot reproduce the problem as well. Version of Google Chrome: 62.0.3202.94

[2017-11-30 13:55] kwodzynski commented on #9
Tested on 17.5 2017/11/29. Functionality works, but I still can see the same severe problem with oscm-core log. Reopen

[2017-12-01 12:41] kwodzynski commented on #13
Tested on 17.5 2017/11/29. Deprecated settings are not visible.

[2017-12-01 12:54] kwodzynski commented on #11
Tested on 17.5 2017/11/29, It works as expected

[2017-12-01 13:42] kwodzynski commented on #23
Tested on 17.5 2017/11/29. Platform operator can log in to the controllers.

[2017-12-06 09:52] GoebelL opened #60 "Bad help link"
version:
v17.5.0 (2017-12-05)

How to reproduce:
login as administrator to OSCM portal. Open manage users page and click help link.

Expected:
Manage users help page opens in separate tab.

Observed:
HTTP Status 404 - /oscm-portal-help/help/en/help/tasks/operator_manageConfiguration.htm/help/en/help/tasks/operator_manageLdapSettings.htm/help/en/help/tasks/operator_manageUsers.htm/help/en/help/task

[2017-12-06 10:01] GoebelL commented on #60
Additional  info:
The help link is correct for the first landing page, which opens directly after login. But once I click in the menu the help link URL in the opened page becomes a 404 pointer, messed up from somehow differently concatenated help links.

[2017-12-06 12:34] grubskim commented on #60
Fixed now in master. The reason was incorrect URL caching - now the only part cached is the base.
Please note that HELP_URL, to work correctly, should end with "oscm-portal-help", or be left empty (right now we are deploying help in two places, and this will cause to use the oscm-core container version). Also, after changing the HELP_URL, relogging is required.

[2017-12-06 12:34] #60 closed, assigned to nobody

[2017-12-06 12:38] kwodzynski commented on #60
Tested on 17.5 2017/12/06. Now online help works as expected, with HELP_URL and also without it.

[2017-12-06 12:40] grubskim commented on #48
It is now configurable with the HELP_URL configuration setting.

- HELP_URL should end with oscm-portal-help, and point to the deployed application.
- if left empty, URL is the current context
- as the base of the help URL is cached, logout/login is required after changing it

[2017-12-06 12:40] #48 closed, assigned to nobody

[2017-12-06 13:40] kwodzynski commented on #48
Tested on 17.5 2017/12/06. Now online help is configurable.

[2017-12-06 13:49] kwodzynski commented on #23
Tested on 17.5 2017/12/06. I can login to /oscm-app/ and to /oscm-app/controller/?controllerid=ess.openstack as PLATFORM_OPERATOR, but I cannot do this to /oscm-app-openstack/. No errors in logs.

[2017-12-06 13:50] kwodzynski commented on #32
Tested on 17.5 2017/12/06 - it works as expected

[2017-12-06 14:13] kwodzynski commented on #20
Tested on 17.5 2017/12/06. The Birt reports look good.

[2017-12-06 14:13] kwodzynski commented on #21
Tested on 17.5 2017/12/06. The Birt reports work good.

[2017-12-07 10:04] grubskim commented on #23
Works for me, please re-test again.

[2017-12-08 11:04] DawidCh commented on #44
Done.

[2017-12-08 11:04] #44 closed, assigned to DawidCh

[2017-12-08 11:04] DawidCh commented on #25
Done
https://github.com/servicecatalog/oscm-interfaces

[2017-12-08 11:04] #25 closed, assigned to DawidCh

[2017-12-11 07:56] ghost commented on #23
Works for me in 17.5 and master build; verified.

[2017-12-11 12:06] ghost opened #63 "initial sample data does not ok"
[Version] OSCM 17.5.x 2017/12/11

[How to reproduce]

1. build and start containers with sample data (not in SOC environment)
2. log in as sample customer and subscribe to SOC sample service. I know this will lead to nothing good, but I just wanted to "play around"
3. look at status of subscription
=> stays in pending (forever) NOK, I would expect an error here
4. delete subscription
5. log in as

[2017-12-11 12:29] ghost opened #64 "Organization create fails with "The operation failed. ""
[Version] OSCM 17.5.x 2017/12/11 (master)

[How to reproduce]

1.    build and start containers with sample data
2.    log in as platform operator "administrator" and create organization with
      supplier and technology provider role. Fill out info
3.   save

[Expected result]
organization is created

[Observed result]
operation failed

[Details]
see attached file
[ErrCreateOrganization.txt](htt

[2017-12-11 13:39] ghost opened #65 "log files in docker directory"
[Build] 17.5+ 2017/12/11
Question:
Why are the log files under docker/logs/\<container-name\>/*.log empty?
-rw-r----- 1 root root 0 Dec 11 10:11 logs/oscm-app/oscm-app.out.log
-rw-r----- 1 root root 0 Dec 11 10:11 logs/oscm-birt/oscm-birt.out.log
-rw-r----- 1 root root 0 Dec 11 10:11 logs/oscm-branding/oscm-branding.out.log
-rw-r----- 1 root root 0 Dec 11 10:11 logs/oscm-core/oscm-core.out.log
-rw

[2017-12-11 15:31] shimizuf commented on #65
The log files are created as empty files by the deployer. But they are not used, unless you configure docker-compose and syslog on your Linux server to write the container logs to these files instead of the default Docker log storage (which is accessed with `docker logs`).

I believe it's possible to only have the deployer create these empty files if they are actually desired - that is, if the dep

[2017-12-12 12:08] kowalczyka commented on #64
It is a problem with constraint in a sample data provided. Therfore moved to docker repo.

Related issue: https://github.com/servicecatalog/oscm-dockerbuild/issues/95

[2017-12-12 12:08] #64 closed, assigned to grubskim, kowalczyka

[2017-12-12 12:20] kowalczyka opened #66 "Status of subscription stays in pending state forever"
[Version] OSCM 17.5.x 2017/12/11

[How to reproduce]

1. build and start containers with sample data (not in SOC environment)
2. log in as sample customer and subscribe to SOC sample service. I know this will lead to nothing good, but I just wanted to "play around"
3. look at status of subscription

[Expected result]
Error message.

[Observed result]
Subscription stays in pending (forever)

[2017-12-12 12:23] kowalczyka commented on #63
Closing with spliting into two different issues:
- https://github.com/servicecatalog/oscm/issues/66
- https://github.com/servicecatalog/oscm-dockerbuild/issues/96

[2017-12-12 12:23] #63 closed, assigned to kowalczyka

[2017-12-12 13:23] gertipoppel commented on #38
The description is contained in the Operator's Guide.

[2017-12-12 13:23] #38 closed, assigned to gertipoppel

[2017-12-13 14:22] ghost commented on #65
Thanks! @gertipoppel this should be also documented

[2017-12-13 14:22] #65 closed, assigned to nobody

[2017-12-14 13:50] grubskim commented on #50
Exposed LOG_LEVEL in docker compose in [this commit](https://github.com/servicecatalog/oscm-dockerbuild/commit/18260628d9acd91dc84f7be954a44aa38e0e64f4). The default value is INFO.

[2017-12-14 13:50] #50 closed, assigned to grubskim

[2017-12-15 13:51] grubskim commented on #53
Issue resolved by @kowalczyka with changes in sample data.

[2017-12-15 13:51] #53 closed, assigned to grubskim

[2018-01-09 12:23] badziakp commented on #58
Issue fixed in oscm-dockerbuild repo

[2018-01-09 12:23] #58 closed, assigned to grubskim

[2018-01-17 11:51] ghost opened #68 "help '?' is in wrong position in portal"
[Build] 17.6 2017/11/02

[Steps to reproduce]
Using Firefox
1. log in to portal
2. look for help ?

[Expected result]
usually this is found on the right side of page

[Observed result]
squished in the middle

[Details]
see below
![ctmg_help](https://user-images.githubusercontent.com/15086024/35041433-0e677c30-fb85-11e7-9f79-dd5fbfb18fc2.png)

[2018-01-17 13:36] GoebelL opened #69 "Provide sample service templates"
Provide sample service templates and init scripts for
* K5
* OpenStack
* AWS
* WMWare

[2018-01-18 08:22] ghost opened #70 "aws cannot be used since connection not possible"
[Build] 17.6 2018/17/02

[Steps to reproduce]
1. import and publish aws service
2. try to subscribe

[Expected result]
subscription possible

[Observed result]
Connect to ec2.eu-west-1.amazonaws.com:443 [ec2.eu-west-1.amazonaws.com/54.239.39.130] failed: Connection refused (Connection refused)

[Details]
It seems that no connection is possible from app container. base machine of docker can connect

[2018-01-18 09:01] shimizuf commented on #70
Clarification: This is in an environment where internet connections are only possible via HTTP proxy. Proxy functionality for the application is not implemented yet. See also servicecatalog/oscm-dockerbuild/issues/37

[2018-01-18 10:42] ghost opened #71 "app communication is not secure"
[Build] 17.6

[Steps to reproduce]

1.  import aws technical service using provisioning url:
https://estst1.intern.est.fujitsu.com:8881/oscm-app/webservices/oscm-app/oscm-app/org.oscm.app.v2_0.service.AsynchronousProvisioningProxy?wsdl
2.  see if service is available
3. check if http provisioning URL is available

[Expected result]
2. service is available
3. http provisioning URL should not be ope

[2018-01-18 14:37] victorhrsilva opened #72 "Long lasting of billing tasks block the browser"
[Build] 17.6 2018/01/18

[Steps to reproduce]

- Be sure that you have a good number of organizations, users and services
- Login to oscm-portal as administrator
- Go to Execute billing tasks
- Execute the start billing run task

[Expected result]
If the task will last long time receive a message from BE that is will take sometime and it is being executed on the background

[Observed result]
Point

[2018-01-19 07:43] victorhrsilva opened #73 "Birt reports are not shown"
[Build] 17.6 2018/01/18

[Steps to reproduce]

- Login to ESCM Marketplace
- Go to Account -> Reports
- Select a Report

[Expected result]
Birt report be shown properly

[Observed result]
Reports are out of format:

![image](https://user-images.githubusercontent.com/24247646/35139736-bb50529e-fcf4-11e7-89c8-16019d556851.png)

[Details]
Error message on oscm-birt: `- Unable to find required classes

[2018-01-19 10:38] kolodziejczykm opened #74 "Search bar stays with searched phrase"
[Build]
17.6 2018/01/18

[Steps to reproduce]

1. Login CT-MG as a End User -> go to marketplace (it happens on every role)
2. Go to "My Subscriptions"
3. Click search subscription
4. Search for subscription
5. Go back to the standard subscription view by refreshing/clicking subscription card again, home, account, logo etc.

[Expected result]

Refreshing a page or clicking on another chart in brow

[2018-01-19 12:54] victorhrsilva opened #75 "Modify subscription trigger failed when the name is changed"
[Build]
17.6 2018/01/18

[Steps to reproduce]

- Login as Marketplace Manager on marketplace
- Create a process trigger to modify subscription that suspends the process
- Modify the name of the subscription

[Expected result]

Notification be send to the URL defined on the trigger

[Observed result]
Operation failed page appears.

[Details]
Error is throw in the logs:
`19-Jan-2018 12:43:18.087 WAR

[2018-01-22 09:30] ghost opened #76 "Service not shown as unavailable; browser hangs"
[Build] 17.6 2018/17/02

[Steps to reproduce]
Using Firefox
1. import technical service
2. click on imported service to see if it is available
    (which it is not; it points to a glassfish-domain on another computer and it is not up)

[Expected result]
Service is shown as unavailable

[Observed result]
Firefox busy cursor is shown and it never returns

[Details]
If the glassfish is up, but the se

[2018-01-22 09:40] ghost commented on #74
@kolodziejczykm This behavior has always been like this. It also came as a surprise to me when I first used it. But I was told it was supposed to be like this.
But since you are a new user, maybe we should change the behavior ....

[2018-01-22 09:40] ghost commented on #76
Workaround is to close browser window and open it again.

[2018-01-22 14:56] kolodziejczykm commented on #74
@SylviaDehn If there's a reason that it should be this way I believe you can get used to it. But if we're looking at users better experience I think it's just not intuitive for search box to work like this.

[2018-01-24 13:52] victorhrsilva opened #77 "Missing migration script for oscm-app"
[Build] 17.6 2018/01/18

[Steps to reproduce]
- Restore an app database from 17.4 to 17.6
- Start to use app controllers

[Expected result]
- During the deployment the database from 17.4 be migrated to 17.6

[Observed result]
- User is unable to login to oscm-app console and to controllers

[Details]
- Oscm-app
![image](https://user-images.githubusercontent.com/24247646/35335504-16064444-0116-11e8

[2018-01-25 12:23] victorhrsilva opened #78 "Oscm-app is unable to send emails if creation of the requested resources failed in OpenStack"
[Build]
17.6 2018/01/18

[Steps to reproduce]

- Connect oscm-app to a SMTP server that requires authentication
- Try create a subscription to OpenStack missing the Template Base URL on Controller-specific settings
- oscm-app will try to send email to inform the service provider

[Expected result]
The email be sent properly

[Observed result]
Email is not sent and error message is throw on app-ope

[2018-01-31 13:18] kolodziejczykm opened #80 "Improve UI feedback on asynchronous operations"
[Build]
17.6 2018/01/18

[Steps to reproduce]
I'm using a administrator account with technology provider / supplier roles

1. Subscribe to the OpenStack service
2. Go to "My subscriptions"
3. Click on the OpenStack service in "available for usage" table
4. In the service Details click and execute: Start -> Stop -> Resume

[Expected result]
User should be notified that he cannot perform "Resume" ac

[2018-02-01 13:17] kolodziejczykm opened #81 "OpenStack dosen't respond to commands"
[Build]
17.6 2018/01/18

[Steps to reproduce]
I'm using a administrator account with technology provider / supplier roles

1. Subscribe to the OpenStack service
2. Go to "My subscriptions"
3. Click on the OpenStack service in "available for usage" table
4. In the service Details click and execute few options in the very short time (in my case start -> stop > start -> suspend -> resume -> stop ->st

[2018-02-01 15:22] grubskim commented on #70
Hello,

I have set three environmental variables for tomee proxy in file /opt/apache-tomee/bin/setenv.sh (in both core and app containers). The issue is, i cannot ping ec2.eu-west-1.amazonaws.com, even from the Jenkins node. The proxy is set there, and i am only able to ping localhost, and other Jenkins nodes. Please advise if there is anything else related to the tomee configuration, or is it a n

[2018-02-02 06:48] shimizuf commented on #70
@grubskim By "ping", do you mean an actual ICMP echo request with the ping command? I believe that the firewall does not allow ping directly to to internet. So I fear the only way to really test this is to have the application connect to the internet via the proxy.

[2018-02-02 09:09] grubskim commented on #70
Sorry, I don't know, I just typed 'ping ec2.eu-west-1.amazonaws.com'. I can ping it from my machine without proxy.

[2018-02-02 09:13] shimizuf commented on #70
Is your machine in a different network than the system which OSCM runs on? I suspect that the firewall of the network your machine is in allows ping to the internet while the firewall in front of the OSCM system does not.

[2018-02-02 13:14] badziakp commented on #73
Hi Victor,
do you use HTTPS to enter to the marketplace? What is your REPORT_ENGINEURL?

[2018-02-02 13:16] grubskim commented on #70
Tried with the below properties for tomee set:
http.proxySet
https.proxySet
http.proxyHost
https.proxyHost
http.proxyPort
https.proxyPort
Unfortunately, the end result is still the same.

@shimizuf Yes, my machine is in a completely different network. Now i am not sure if the tomee proxy doesn't work, or is it a network configuration issue.

[2018-02-02 13:16] victorhrsilva commented on #73
Hello,
Yes, I am using HTTPS. My URL is https://linux-7aon.pl.fsc.net:8681/birt/frameset?__report=${reportname}.rptdesign&SessionId=${sessionid}&__locale=${locale}&WSDLURL=${wsdlurl}&SOAPEndPoint=${soapendpoint}&wsname=Report&wsport=ReportPort

[2018-02-02 15:20] GoebelL commented on #73
Tested build from 2018/01/30 (PRIVATE-BUILD-ON-E56EDFE59045). Reports are working fine.

@victorhrsilva
What is the exact URL you use for accessing the marketplace?
Please check if the URL base matches with configuration of BASE_URL_HTTPS.

[2018-02-02 15:20] shimizuf commented on #70
If the proxy settings in setenv.sh do not work, could you try setting them in `catalina.properties`?

[2018-02-02 16:35] GoebelL commented on #31
Done - https://hub.docker.com/r/servicecatalog/oscm-deployer/

[2018-02-02 16:35] #31 closed, assigned to GoebelL

[2018-02-05 08:44] victorhrsilva commented on #73
@GoebelL

http://linux-7aon.pl.fsc.net:8080/oscm-portal/marketplace/index.jsf?mId=a8e4368a

Please check if the URL base matches with configuration of BASE_URL_HTTPS.
https://linux-7aon.pl.fsc.net:8081/oscm-portal

@Paulina has figured out that on my backup db from 17.3 I had the link with http protocol and port 8680.

Issue is fixed, thx.

[2018-02-05 08:44] #73 closed, assigned to badziakp

[2018-02-05 09:37] kolodziejczykm opened #82 "Status of the OpenStack subscription"
[Build]
17.6 2018/01/18

[Steps to reproduce]
1.	Subscribe to 3 OpenStack based services
2.	Go to “My Account” -> “Subscriptions”
Login to OpenStack dashboard and delete instances manually over there

[Expected result]
In the Account -> “Subscriptions” view -> our subscriptions from Status green “ready” should change to another because they are no longer available to administrate.
You can also add

[2018-02-05 11:01] ghost commented on #71
Issue 2. (service not available) can no longer be reproduced

[2018-02-05 11:09] GoebelL commented on #71
@kowalczyka
Please check the remaining first part:
"1. http provisioning URL should not be open (security problem)"

External access is to be restricted to HTTPS. Please check if the HTTP connector in APP TomEE configuration can be safely removed.

[2018-02-05 12:22] kolodziejczykm opened #83 "OpenStack subscription disappears during the creation process"
[Build]
17.6 2018/02/01

[Steps to reproduce]
1.	Go to marketplace
2.	Subscribe to OpenStack service 5 times in a row
3.	Go to account “Subscriptions” view and check if 5 subscriptions appear as available to administrate

 [Expected result]
5 subscriptions of OpenStack should be available

 [Observed result]
3 of 5 subscriptions are created. The 4th and 5th subscription disappears from controller

[2018-02-05 16:33] kowalczyka commented on #71
Removal of http connector in tomee configuration of app resolves the issue.

As this container related issue - closing and moving to oscm-dockerbuild repository - https://github.com/servicecatalog/oscm-dockerbuild/issues/105

[2018-02-06 08:41] badziakp commented on #83
There is no limitation of subscription number but Openstack could return some errors and that is why subscriptions disappeared. Maybe there was not enough disc space to create 5 subscriptions. In attached logs there is problem with mail configuration. Please make sure that email address is entered correctly and if email server is configured properly.

[2018-02-07 15:00] grubskim commented on #70
Fixed by adding correct proxy variables to tomee.

[2018-02-07 15:00] #70 closed, assigned to grubskim

[2018-02-08 13:35] kolodziejczykm commented on #83
I have retested the issue. Basically what happens is that I can't create more than 3 instances of OpenStack. I tried to create 5 of them again as in the reported bug - 3 of them were created and 2 of them just disappeared.
The overview looks fine:
![openstackoverview](https://user-images.githubusercontent.com/34572039/35975329-a384d03e-0cdc-11e8-9c1f-02f1a07e015d.JPG)

And the logs:

[02/08 13:24:

[2018-02-09 12:18] GoebelL commented on #71
HTTP connector is needed for internal communication. HTTP access from outside the container network has to be restricted by other means.

[2018-02-09 12:54] shimizuf commented on #71
The concept is that we offer only HTTPS ports to the outside world. Within the Docker network, HTTP ports are still exposed and used for internal communication. This is to eliminate potential problems with host name mismatches in the many different configurations involving SSL certificates, which can also be operator provided.

However, we were exposing HTTP ports to outside. This is now fixed by

[2018-02-09 15:53] kolodziejczykm commented on #70
Retested with TAG_DOCKER: v17.6.0-RC5.
Was able to import, publish and subscribe to the AWS
![awsproxy](https://user-images.githubusercontent.com/34572039/36036189-80a10d0c-0db9-11e8-868d-2fe75716e1d4.JPG)

[2018-02-12 07:11] badziakp commented on #76
Hi,

can you attach the technical service you imported because o n the newest version of oscm I can't reproduce this issue?

[2018-02-14 08:56] kowalczyka commented on #83
Clould you please check the heat logs directly on openstack environment you use for tests?

You should find them in /var/log/heat/ directory of the host on which heat runs.

[2018-02-14 08:57] #71 closed, assigned to kowalczyka

[2018-02-14 09:04] kowalczyka commented on #8
The issue is now resolved with the fix for 17.3 version which includes improving error message displaying when there is a problem with provisioning (all controllers)  - https://github.com/servicecatalog/oscm/commit/f5bdefaab38f859442e2577b62b30b3a708a3d08

[2018-02-14 09:04] #8 closed, assigned to nobody

[2018-02-15 12:12] kolodziejczykm commented on #83
@kowalczyka I have faced some problems during the OpenStack subscription creation process when I tried to recreate it. I'll investigate it further because it might be some configuration problems and I'll let you know what I have found.

[2018-02-15 12:13] GoebelL commented on #82
OSCM provides interfaces intended to ease management of cloud subscription instances. OSCM does not provide for re-synchronizing any instance status or modifications which are triggered from outside. It is expected that the subscription instances are deleted through OSCM by terminating the subscription. In case the instance was deleted from horizon dashboard or any other cloud interface bypassing

[2018-02-15 12:14] #82 closed, assigned to nobody

[2018-02-15 14:37] GoebelL commented on #81
Note that the operations are executed asynchronously and potentially long running. To keep things simple this subscription details tab gives just little but immediate feedback. There is a separate view for tracking the operation queues. Check out account > operations.

[2018-02-15 14:50] GoebelL commented on #81
Not clear what you are missing in this screenshot. There is no subscription description. There is a service short description and there may be some price model description in case of paid services. However, both are not displayed in this tab.

[2018-02-15 14:58] GoebelL commented on #80
@kolodziejczykm
Note that the operations are executed asynchronously and are potentially long running. To keep things simple this subscription details tab gives just little but immediate feedback. There is a separate view for tracking the operation queues. Check out account > operations.

[2018-02-15 15:47] GoebelL commented on #80
More precisely, OSCM technical services can be composed with asynchronous as well as with synchronous operations. For this OpenStack service given here, all operations are defined as 'asynchronous'.
However the display in the subscription details is independent of the particular execution mode.
I do agree that the success message for execution is misleading at this point, in case the operation is

[2018-02-16 16:25] kolodziejczykm commented on #78
Retested - works on my environment. (Probably it was some configuration problem)

[2018-02-16 16:25] #78 closed, assigned to nobody

[2018-02-19 12:01] grubskim commented on #68
Added missing CSS class in ESCM version

[2018-02-19 12:01] #68 closed, assigned to grubskim

[2018-02-19 12:03] grubskim commented on #74
Closing, as this is working according to the specification.

[2018-02-19 12:03] #74 closed, assigned to nobody

[2018-02-19 12:04] grubskim commented on #56
Works in the current version.

[2018-02-19 12:04] #56 closed, assigned to nobody

[2018-02-19 12:11] grubskim commented on #77
Please check if this not not the http problem (app is only accessible with https now).

[2018-02-19 13:20] victorhrsilva commented on #77
I have checked with HTTPS and port 8881, the error message does not appear anymore. However I am still not able to access it.

[2018-02-19 13:31] victorhrsilva opened #85 "User is not redirected to HTTPS when it tries to access via HTTP"
[Build]
17.6 2018/02/14

[Steps to reproduce]
- Try to access OSCM with the same link of 17.4

[Expected result]
- User should be redirected to the new HTTPS port

[Observed result]
- User receives the message that the service is unavailable

[Details]

![image](https://user-images.githubusercontent.com/24247646/36380124-72c45868-1581-11e8-8526-862c56222a75.png)

[2018-02-21 14:17] kowalczyka commented on #83
I found the reason for the issue:

heat template which is used by our service creates volume which is attached to every instance. The size of the single volume is 3GB.

![template](https://user-images.githubusercontent.com/14541935/36484524-e746a03a-1719-11e8-82b1-421ea2165e8f.jpg)

The volume group in this case is configured with capacity of 10 GB - after succesful creation of 3 instances, the ne

[2018-02-21 14:17] #83 closed, assigned to badziakp, kowalczyka

[2018-03-15 15:57] kolodziejczykm commented on #81
Not CTMG sided. Hard to reproduce. (It just happens if u spam to many options in the very short time - unreal case scenario)

[2018-03-15 15:57] #81 closed, assigned to nobody

[2018-04-12 16:40] GoebelL opened #87 "Describe how to enable debug logging for openstack adapter"

[2018-05-17 09:54] kowalczyka opened #91 "Check the impact of asynchronous subscription left in PENDING state after being aborted"
With the fix which we delivered in https://github.com/servicecatalog/oscm/commit/f5bdefaab38f859442e2577b62b30b3a708a3d08, functionality related to subscription states changed:

- after aborting asynchronous subscription during creation (subscription in PENDING state) subscription stays in PENDING state
- before the mentioned fix, subscription was going into INVALID state

We noticed that this cha

[2018-05-28 15:05] GoebelL opened #93 "Subscription and chargeback of OpenStack projects"
_From @uhu133 on September 21, 2017 8:32_

**OSCM Use Case**

I'm running an OpenStack environment as internal IT service provider. My customers are departments of my company or partner companies. OSCM shall be the portal to deliver OpenStack services to these customers. The main use cases are to let customers subscribe to OpenStack services and to let me show-back costs to these customers depende

[2018-05-29 08:15] GoebelL opened #95 "NPE on Keystone connection failure"
[Version]
OSCM 17.6

[Details]
https://openservicecatalogmanager.org/ui/forums/thread/83/help-in-integrating-suse-openstack-with-oscm#dis-post-241

There is NPE at OpenStackConnection.java:161 in given error handling case from failing keystone connection.
Thrown in "new InputStreamReader(connection.getErrorStream()));"
java.net.HttpURLConnection#getErrorStream() javadoc sais
"return an error strea

[2018-05-29 11:12] GoebelL commented on #95
Fixed in https://github.com/servicecatalog/oscm/commit/fb95bc6ad3538160035f733b314ff266480320f8

[2018-05-30 10:06] #95 closed, assigned to GoebelL, elfriedegoetz

[2018-06-11 08:33] GoebelL opened #98 "Wrong access info in OpenStack Sample Service"
_From @uhu133 on June 8, 2018 7:50_

when creating an instance with the OSCM OpenStack Sample Service the access info at "My Subscriptions" shows the dns name of the server where OSCM is running and NOT the IP address or dns name of the OpenStack server which was created by subscription.
![capture](https://user-images.githubusercontent.com/32158057/41145714-4e9460ac-6b01-11e8-98ce-7789a0aecb7f.JPG

[2018-06-11 08:33] GoebelL commented on #98
_From @uhu133 on June 8, 2018 7:51_

![capture2](https://user-images.githubusercontent.com/32158057/41145800-864afa9c-6b01-11e8-9e6a-6037ce822301.JPG)
The corresponding OpenStack instances.

[2018-06-13 10:31] kowalczyka commented on #98
The SOC sample service was prepared for the specific integration of OSCM with the SOC (as a barclamp).

The access info parameter is filled with HOST_FQDN value which in this case is delivered from barclamp UI or automatically assigned by chef script (it is an openstack instance which hosts the docker containers) and is common for the future soc sample services.

[2018-06-13 18:32] GoebelL commented on #98
@kowalczyka

Oh really? Indeed, this would explain the effect, but on the other hand it doesn’t make much sense. An access information is a result from a provisioning service but not an input. This is supposed to contain the information the customer needs for accessing the instance, which has been provisioned with the subscription. In case of the OpenStack adapter the access info is composed from

[2018-06-13 18:49] GoebelL commented on #98
@uhu133
Have you tried giving a different access pattern than the proposed default? For instance "Key pair name: {KP_Out}; IP: {IP_Out}". Not sure if these placeholders work well, but could be worth a try...

[2018-06-14 07:10] kowalczyka commented on #98
HOST_FQDN placeholder  is now removed from the access info pattern - https://github.com/servicecatalog/oscm-dockerbuild/commit/428af39f2809c8dff6ef88ed4025824c3202cd3f

[2018-06-14 13:41] #98 closed, assigned to kowalczyka, elfriedegoetz, uhu133

[2018-06-21 10:14] elfriedegoetz opened #100 "It is not possible to change Controller_org_ID in the App-controler-configuration"
[Build]
docker 17.7 2018/06/11

[Steps to reproduce]
 log in to App-Controller-configuration xxx:8881/oscm-app/
 edit  "Organization ID"  to a different organization "ab6b5473"
log in to AWS-Controler xxx:8881/oscm-app-aws

[Expected result]
should be work

[Observed result]
 is not possible

[Details]
In the "bssapp" db the BSS_USER_ID for ess.aws is administrator, but this is not a  user of the

[2018-06-21 10:22] GoebelL opened #102 "Fix integration test build"
Package task in IT test ANT script fails.
/var/lib/jenkins/workspace/BSS_Build/Development/oscm-build/cruisecontrol.xml:62: The following error occurred while executing this line:
/var/lib/jenkins/workspace/BSS_Build/Development/oscm-build/build.xml:154: /var/lib/jenkins/workspace/BSS_Build/document/Development/oscm-app-vmware/doc does not exist.

[2018-06-21 10:27] #102 closed, assigned to GoebelL

[2018-06-21 10:30] elfriedegoetz opened #103 "a aws instance is running, but the supstcribtion status is pending"
[Build]
docker 17.7 2018/06/11

[Steps to reproduce]
login as Technical Provider "TP1"
import a TechnicalService_AWS
define a marketable service  "AWS" and publish on marketplace
subcribe to service "AWS"

[Expected result]
instance will be created and subscription will be show  status "ready"

[Observed result]
instance is running on aws!!, but a mail is send
"Notification of Catalog Manager abou

[2018-06-21 10:59] elfriedegoetz opened #104 "Controller settings in var.env have no effect"
[Build]
docker 17.7 2018/06/11

[Steps to reproduce]
var.env:
edit the "Controller settings" : CONTROLLER_ORG_ID. Do not user the default PLATTFORM_OPERATOR
stop docker container
start docker container
[Expected result]
I can see the changes in the bssapp db and in the APP Controller
[Observed result]
login to APP Controller. The CONTROLLER_ORG_ID is still "PLATTFORM_OPERATOR"

[2018-06-22 15:09] GoebelL commented on #103
In fact the technical provider of the AWS service must match the organization for ess.aws configured in APP. However the error handling is weak at this point. Better the provisioning service should somehow check the proper assignment in before hand in order to avoid that administrators can run into this trap after setting up such integration. Well, we'll need to think it some further...

[2018-06-22 15:31] GoebelL commented on #100
The steps required to change the reponsible organization should be same for all controllers.
This is as described in OSIntegration.pdf, 4.5 Changing the Responsible Organization:

change the technology provider organization responsible for the IaaS service
controller using the Web interface of APP:

1. In a Web browser, access the Web interface (base URL) of APP. The access URL has the following f

[2018-06-25 07:53] GoebelL opened #106 "Description for deleting a container is wrong"
Operator's Guide, page 15:
"To delete a container:
docker-compose rm -f docker-compose-oscm.yml <container-name>"

I guess this is wrong. It should be
"docker-compose -f docker-compose-oscm.yml rm <container-name>"

Otherwise the -f is treated as sub command option of rm (meaning "force"), and the docker-compose command will look for the default docker-compose yaml file and ignore the specified on

[2018-06-25 10:42] gertipoppel commented on #106
I have changed the doc accordingly. Will be available on Thursday, 28.

[2018-06-25 10:42] #106 closed, assigned to gertipoppel, elfriedegoetz, shimizuf

[2018-06-25 12:59] DashThink opened #107 "Update technical service failed"
Hi Team,

We have CTMG v17.3 with Technical service 'Vmware sync'. We created marketable service based on this technical service. Also we having multiple subscriptions on the same marketable service. Now we want to add one/two more parameters into the existing Technical service. We deactivated the marketable service and tried to import same technical service. But unfortunately we are getting below

[2018-06-26 08:33] GoebelL commented on #23
Platform operator cannot login to controllers, if different organization is configured in APP.

Workaround:
1. Login to APP as Platform Operator.
2. Open controller UI in second browser tab sharing the session of 1.

[2018-06-26 08:36] GoebelL commented on #100
Platform Operator should always have access to controller UIs. Check issue #23.

[2018-07-02 09:01] GoebelL commented on #107
Hi @DashThink
As the error message says, technical service parameters cannot be not changed if the service is already in use. However, it _is_ possible to add single parameters, with active subscriptions, as long as those parameters are not impacting existing definitions.
I am not clear which issue you are facing here. Can you give an example?

[2018-07-02 09:17] DashThink commented on #107
Hi @GoebelL

In the current scenario we have deactivated existing marketable service and tried to add one more parameter to Technical service. At the same time we face this issue. In simple words we need to add one more parameter into existing technical service.

[2018-07-02 09:54] GoebelL commented on #107
We haven't faced any issues with adding parameters on existing services. We'd need more details about the present definition and about the parameters you try to add.

[2018-07-04 12:38] ghost commented on #104
What are the exact steps you have taken regarding `stop docker container` and `start docker container`?

`.env` and `var.env` files are only used during the initial start of the application when using `oscm-deployer` container. In order to see the changes whole oscm instance should be stopped and restarted using `oscm-deployer`.

[2018-07-04 15:08] #93 closed, assigned to GoebelL

[2018-07-05 07:10] elfriedegoetz commented on #104
for start/stop I used this:
docker-compose -f docker-compose-oscm.yml stop
docker-compose -f docker-compose-oscm.yml up -d

[2018-07-05 07:17] ghost commented on #104
In that case everything works as intended. All `var.env` variables that are stored in the DB are only picked up by the initdb container during initial database setup. Restart will not update the database.

[2018-07-05 07:55] GoebelL commented on #107
Any details? Does the issue still persist?

[2018-07-05 08:01] elfriedegoetz commented on #104
okay

[2018-07-05 08:01] #104 closed, assigned to elfriedegoetz

[2018-07-05 08:14] GoebelL commented on #100
@marcin-fest (or @fest-floreks?) Please check the documented steps listed above. If changes are required, it'll be nice if you write the details and assign this to @gertipoppel for adaption.

[2018-07-09 08:53] ghost commented on #100
I am looking at it now. I have just finished to test VMware controller and everything seems to work correctly - after changing Organization ID I am able to login with new user and with main administrator:

![obraz](https://user-images.githubusercontent.com/40793285/42440389-ec670740-8365-11e8-9391-f91ddf690316.png)

![obraz](https://user-images.githubusercontent.com/40793285/42440467-2238c5ca-8366

[2018-07-09 08:57] ghost opened #112 "Styling brokes during saving oscm-app configuration"
### Steps to reproduce

1. Go to https://10.140.18.123:8881/oscm-app/.
2. Click save configuration (there is no need to change any input field).
3. Notice font size change:

![obraz](https://user-images.githubusercontent.com/40793285/42440644-9fd25992-8366-11e8-8623-618594365ac0.png)

![obraz](https://user-images.githubusercontent.com/40793285/42440667-b2663240-8366-11e8-8a68-c1ca6eaff20c.png)

[2018-07-09 10:35] ghost commented on #100
When testing AWS and OpenStack controllers I am failing to login as new user and as an administrator. I will investigate it:

![obraz](https://user-images.githubusercontent.com/40793285/42445837-af63722a-8374-11e8-8fcc-4d342088957f.png)

[2018-07-09 11:45] ghost commented on #100
Okay, so I have investigated it with @kowalczyka it seems that @elfriedegoetz steps are incorrect considering current implementation.

Correct steps to change user at the moment are:

Login to specific controller's UI with user that is able to view it, i.e. https://10.140.18.123:8881/oscm-app-aws/ for AWS controller. After logging in you can change user credentials:

![obraz](https://user-images.g

[2018-07-09 12:13] ghost opened #113 "No credentials are needed to login to VMware adapter"
During the tests of #100 I have experienced critical bug:

![obraz](https://user-images.githubusercontent.com/40793285/42449486-21bbc780-8381-11e8-8ae6-9086e29574a4.png)

![obraz](https://user-images.githubusercontent.com/40793285/42449535-549d0538-8381-11e8-8b62-97a2902fd83e.png)

I am investigating it right now.

[2018-07-09 15:14] GoebelL opened #114 "Improper feedback when changing settings in VMWare UI"
[build and version]
OSCM 17.7 RC2

[how to reproduce]
1. Login to in vmware controller UI
2. Change the value VSphere Connection URL
3. Save settings

[expected result]
Success message and settings saved.

[observed result]
Dirty page warning. Changed saved, but no success message.
![change_vsphere_settings](https://user-images.githubusercontent.com/14805690/42459420-dcb70dd2-839b-11e8-80e8-5bd5d2

[2018-07-10 07:53] ghost commented on #100
PTAL @elfriedegoetz @GoebelL

[2018-07-11 06:49] ghost commented on #100
And there is one more issue - there is no way to change user ID, key and password for VMware controller in the UI it seems. At least, from /oscm-app-vmware endpoint.

[2018-07-12 13:12] #113 closed, assigned to elfriedegoetz

[2018-07-16 07:42] GoebelL opened #117 "VMWare schema init failure"
[build and version]
OSCM 17.7

[steps to reproduce]
Greenfield installation.

[observed result]
Initial DB schema for database "vmware" is created

[expected result]
Initial DB schema for "vmware" is not created. Subsequent inserts with sample data fail.

[logs]
[0m ERROR: no schema has been selected to create in
Position: 30
	at org.oscm.setup.DatabaseUpgradeHandler.executeScriptFiles(DatabaseUpg

[2018-07-17 05:48] ghost commented on #117
@GoebelL

1. What do you mean by "Greenfield installation"? Is it just clean installation?
2. Whole build is failing thanks to this bug?
3. Which logs are you checking?

[2018-07-17 06:38] ghost commented on #117
Pull and start works on 17.7, please check OSCM_Docker_pull_and_start/74.

And initial data is here:
![obraz](https://user-images.githubusercontent.com/40793285/42800272-6cd2d75c-899b-11e8-8c12-1abcc9de315e.png)

![obraz](https://user-images.githubusercontent.com/40793285/42800561-be8c52e8-899c-11e8-84c6-72db1bc14074.png)

![obraz](https://user-images.githubusercontent.com/40793285/42800572-cb5e13

[2018-07-17 07:44] GoebelL commented on #117
@marcin-fest
The issue is reported on behalf of @uhu133

The OSCM installation was done from scratch in clean environment and according the instructions on https://hub.docker.com/r/servicecatalog/oscm-deployer/. This refers to the official installation, not to any internal Jenkins services you have linked here.
This setup seems to be broken. Please check it.

[2018-07-17 07:51] GoebelL commented on #117
Here is the full log file -> [create.log](https://github.com/servicecatalog/oscm/files/2200654/create.log)

As you can see installation is invoked with sample data and DB initializing.
 docker run --name deployer2 --rm -v /escm:/target -v /var/run/docker.sock:/var/run/docker.sock -e INITDB=true -e SAMPLE_DATA=true -e STARTUP=true servicecatalog/oscm-deployer

[2018-07-17 10:29] elfriedegoetz opened #119 "APP vmware controller: wrong browser message appears, if trying to change password"
[Build]
docker 17.7 2018/07/17

[Steps to reproduce]
login to APP vmware controller
chnage password
click save

[Expected result]
password will be chanded and a vaild message is shown

[Observed result]
a wrong message is shown see attachment
![save](https://user-images.githubusercontent.com/15209605/42812171-0af56f82-89bd-11e8-8928-4398182e1ee9.PNG)

[2018-07-17 10:52] GoebelL commented on #119
Duplicate with #114.

[2018-07-17 10:52] #119 closed, assigned to nobody

[2018-07-17 10:53] ghost commented on #117
This setup seems to be broken. Please check it.

@GoebelL @uhu133 It works for me:

[code]

[2018-07-17 11:02] GoebelL commented on #117
@marcin-fest
You are missing the sample data import with SAMPLE_DATA=true. See @uhu133 's log file. Not sure if that makes the difference, but logically something should. Please check once more.

[2018-07-17 11:05] ghost commented on #117
@GoebelL Okay, I will check.

[2018-07-17 11:23] ghost commented on #117
@GoebelL It seems to be connected to sample data indeed, but on my localhost it works:

[code]

[2018-07-18 08:08] elfriedegoetz opened #120 "app vwmare controller: you have to restart the container, if password was changed"
[Build]
docker 17.7 2018/07/17

[Steps to reproduce]
login to APP vmware controller
chanage password
click save  (click leave page see bug114, and password is changed in the DB)
create a new Instance

[Expected result]
Instance will be created

[Observed result]
Instance creation failed
the old password is used

[Detail]
to take effect you have to restart the container, after changed the password

[2018-07-18 08:16] elfriedegoetz opened #121 "VMware Instance: marketable service: "user option" for Domain Name has to be set"
[Build]
docker 17.7 2018/07/17

[Steps to reproduce]
create a marketable service without "user option" for Domain Name
create a new Instance

[Expected result]
Instance will be created

[Observed result]
Reported problem: Failed to create VM instance 1531901093799.
[Detail]
"user option" for Domain Name is needed, but the value can be empty. This does not make sense

[2018-07-18 09:36] elfriedegoetz opened #122 "VMware Controller: In the UI "BSS_USER_ID" , "BSS_USER_KEY","BSS_USER_PASSWORD" is missing"
[Build]
docker 17.7 2018/07/17

[Steps to reproduce]
login to APP and set ORGANISATION_ID for vmware controller to "ORG_Technical Provider"
[Expected result]
it is possible to login to vmware controller
[Observed result]
it is not possible
[Detail]
VMware Controller: In the UI "BSS_USER_ID" , "BSS_USER_KEY","BSS_USER_PASSWORD" is missing
Additionally the administrator has no access to the controll

[2018-07-18 10:45] elfriedegoetz commented on #103
the same for vmware

[2018-07-18 15:25] fabiorauber opened #123 "TechnicalService ParameterDefinition id is too short"
When trying to update a WordPress k8s technical service definition, I stumble upon the maximum number of characters of the ID of a ParameterDefinition, as can be seen below:

But I need to define this particular parameter. Am I doing something wrong?

[2018-07-18 16:55] GoebelL commented on #123
Hi @fabiorauber
You are right. These IDs are limited to 40 characters by the technical service schema. This is defined in \oscm-serviceprovisioning\javares\TechnicalServices.xsd. I am not sure about the helm sample case and if there is some workaround on that. Nevertheless I do agree that this parameter id definition might be too tight for some integration cases where are you are bound to certain

[2018-07-18 17:23] fabiorauber commented on #123
Thank you! I'll wait and then validate the change.

[2018-07-19 07:27] GoebelL opened #125 "Operations failed when using tags in technical service"
_From @uhu133 on December 14, 2017 15:27_

[server.log_2017-12-14T15-22-42.log](https://github.com/servicecatalog/development/files/1559767/server.log_2017-12-14T15-22-42.log)

OSCM 17.4

I'm using the webcalendar tool.

I updated the tag in the corresponding technical service with value "legacy, calendar".
I choosed "GoToMarketPlace"

Then "Error - The operations failed" occurs.

When I clear
[se

[2018-07-19 12:59] fabiorauber opened #126 "Limit number of free of charge deployments"
I was searching for a way to limit the number of free of charge software subscriptions, for example, to limit each customer to 1 active free of charge marketable service subscription. I couldn't find a way to configure this on OSCM. Is there such a feature?

[2018-07-19 14:13] #123 closed, assigned to GoebelL

[2018-07-19 17:14] GoebelL commented on #126
Hi @fabiorauber
Well, for services with access type LOGIN, you can limit the number of registered users per subscription and also the number of concurrent users. I don't know if this is helpful for your case. Otherwise I could think of a solution with a create subscription trigger that checks the number of existing subscriptions and compares this with a given limit parameter.

[2018-07-19 17:32] GoebelL commented on #123
@fabiorauber
The fix is pushed on dockerhub. Just pull the images with tag latest. You'll find a readme on https://hub.docker.com/r/servicecatalog/oscm-deployer/

Let me know if it works for you.

[2018-07-19 18:41] fabiorauber commented on #123
OSCM accepted the ID now. Seems to be working fine. Thanks!

[2018-07-20 12:25] fabiorauber commented on #126
Hi @GoebelL, thanks for the help. But please correct me if I'm wrong, apparently there is no way of forbidding the customer to change the triggers, so, in theory, the customer could create as many subscriptions as wanted, as long as he deletes the "check availability" trigger. Maybe a "items in stock" field in each marketable service would be helpful in this and maybe other cases?

[2018-07-24 14:38] GoebelL opened #129 "Check test case"
Take a look to https://github.com/servicecatalog/oscm/blob/master/oscm-app-unittests/javasrc-it/org/oscm/app/v2_0/service/APPTimerServiceBeanIT.java#L1363
Q: Why is the instance parameter NAME1 not rolled back?

[2018-07-25 08:42] xusuest commented on #129
The entry key  in the properties of xml for second parameter was wrong.
It should be set as "param2.*" but not "param1.*".
https://github.com/servicecatalog/oscm/blob/master/oscm-app-unittests/javasrc-it/org/oscm/app/v2_0/service/APPTimerServiceBeanIT.java#L1613

[2018-07-25 09:01] GoebelL commented on #129
Good find @xusuest!

[2018-07-25 09:12] xusuest commented on #129
Issue fixed and closed.
https://github.com/servicecatalog/oscm/pull/128/commits/137080c03f76350edfdfb78bcb118dd3b85bc003

[2018-07-25 09:12] #129 closed, assigned to xusuest

[2018-07-25 13:00] GoebelL commented on #126
@fabiorauber, you are right, the customer administrator can remove triggers. I see two options to limit the subscriptions.

1. The direct and easiest way would be to use the LOGIN access type as described before. See [Technology Provider's Guide](https://github.com/servicecatalog/documentation/blob/master/Development/oscm-doc-user/resources/manuals/integration/en/TechProv.pdf), chapter 2 for detai

[2018-07-26 12:13] GoebelL commented on #117
@uhu133 @marcin-fest
The error can be reproduced when using "DB_USER_VMWARE=vmware" or any user name which equals with an already existing schema name the the vmware database.
Take a look into [here](https://github.com/servicecatalog/oscm-dockerbuild/blob/master/oscm-initdb/templates/init.sql.vmware.template#L18
). The init script creates the schema named equally to the given user, but skips this

[2018-07-30 09:24] GoebelL commented on #117
The issue is resolved using a correct vmware user.

Added a note in var.env for using vmwareuser. Fixed with commit [e5fc875](https://github.com/servicecatalog/oscm-dockerbuild/commit/e5fc875e73c008e98d53278528a1af7f249f08ce)

[2018-07-30 15:26] #107 closed, assigned to DashThink

[2018-07-30 15:40] GoebelL commented on #100
@marcin-fest
Thanks for the analysis. I can also confirm that the organization is changeable with the described procedure. Thus it's working as designed.

That's true. @elfriedegoetz has already reported this as issue #122. There is a fix in progress by @xusuest.

This issue is closed.

[2018-07-31 14:04] uhu133 opened #132 "Missing IP in vmware access info"
The marketable service for the vmware connector uses the pattern "{HOST},{IP}" for the access info. After the service provisioning the access info only holds the hostname, not the IP address.
![ip](https://user-images.githubusercontent.com/32158057/43464323-1d684e0e-94db-11e8-9130-8ecea849d374.JPG)
![ip-2](https://user-images.githubusercontent.com/32158057/43464400-56288f7e-94db-11e8-866d-49e3689c

[2018-07-31 14:21] uhu133 commented on #132
VMware manual page 25

ACCESS_INFO
Optional. A pattern for the access information for a VM after it has been provisioned. The
access information is sent by email to the subscribing user as well as all users assigned to the
subscription. It is displayed in the details of the subscription.
The instance-specific values of this parameter contain the actual access information for the VM
as soon as the

[2018-07-31 14:31] GoebelL commented on #132
@uhu133
Did you give a value to NUMBER_OF_NICS?

[2018-07-31 15:28] GoebelL commented on #132
@uhu133
NIC1_NETWORK_ADAPTER is an optional parameter in the technical service. However the network name is needed here for determining the guest IP address. Indeed this behavior is strange.
Nevertheless it's a workaround: The correct IP should be returned if you give the network name in NIC1_NETWORK_ADAPTER.
Please try.

[2018-07-31 15:33] GoebelL commented on #126
@fabiorauber
Does it work for you?

[2018-07-31 15:37] uhu133 commented on #132
Jist tried - with the VM network name defined in marketable service it works

[2018-08-01 17:29] fabiorauber commented on #126
@GoebelL, we will try the second approach, I think will work for our use case. Nonetheless, I still believe the best way to solve this problem would be to implement some kind of limit on the marketable service itself, preventing the user from ordering the service beyond certain limit. Don't know the difficulty of such implementation though.

[2018-08-02 08:52] elfriedegoetz opened #134 "Doc: VMware vSphere Integration; everal Parameter are mandatory in Technical service"
VMware vSphere Integration:
The following Parameter are mandatory in the Technical Service Definition:
TARGET_VCENTER_SERVER, TARGET_DATACENTER, TARGET_CLUSTER

[2018-08-02 09:41] gertipoppel commented on #134
Modified the description in the VMware vSphere Integration Guide. Will be available next Thursday (09/08/2018)
Modified sources:
en/VMwareIntegrationGuide/Appendix/r_ServiceParameters.xml

[2018-08-02 09:41] #134 closed, assigned to elfriedegoetz

[2018-08-02 11:04] elfriedegoetz opened #135 "Doc: VMware vSphere Integration; sample not correct"
vmware controller: file upload for custer
VCenter,Datacenter,DatacenterId
myvc1,datacenter1,1

the correct format is
VCenter,Datacenter,DatacenterID

[2018-08-02 13:57] #114 closed, assigned to elfriedegoetz

[2018-08-02 15:52] #132 closed, assigned to GoebelL, elfriedegoetz

[2018-08-07 11:53] #135 closed, assigned to gertipoppel, elfriedegoetz

[2018-08-07 11:54] gertipoppel commented on #135
Correct Id into ID

[2018-08-09 07:19] elfriedegoetz opened #137 "VMware controller: no helpful error message, if create instance are failed"
[Build]
docker 17.7 2018/07/17

[Steps to reproduce]
create a Instance with wrong parameter for examples "Target Cluster".

[Expected result]
a useful errer maessage

[Observed result]
Dear user,

The current operation on subscription 'VMware ESS 6.5 17.4' for customer 'PLATFORM_OPERATOR' has been suspended (Instance: '1533798822504').

Reported problem: Failed to create VM instance 1533798822504.

[2018-08-09 07:27] elfriedegoetz opened #138 "VMware controller: GUI for Datacenter,Cluster .. are missing"
[Build]
docker 17.7 2018/07/17

login to APP VMware Conroller. There is no UI to show the values for datacenter cluster vlan IPpool.
see attachment
![vmwarecontroller](https://user-images.githubusercontent.com/15209605/43884459-743ff182-9bb6-11e8-9611-baa7cba1af6c.PNG)

[2018-08-09 07:59] GoebelL commented on #137
Sure the error handling could be improved at this point. However it would be good to have a sort of test connection button here that can be used to ping the target cluster. This would be helpful to detect configuration errors before provisioning. Not sure how well this is supported from the VSphere SDK.

[2018-08-09 08:36] GoebelL commented on #137
In case of an provisioning error the controller is expected to return an informative error message with the APPlatformException in ´VmwareController#createInstance´.

@fest-floreks
Please check if the error information as retrieved from the SDK is properly returned here.

[2018-08-09 09:02] ghost commented on #137
I will check that.

[2018-08-13 20:07] GoebelL commented on #122
This is addressed in https://github.com/servicecatalog/oscm/pull/139

[2018-08-13 20:08] GoebelL commented on #120
This is adressed in https://github.com/servicecatalog/oscm/pull/139

[2018-08-14 09:16] Marcelo3384 opened #140 "Attaching to oscm-initdb-core - database not ready - waiting"
Hi,

I followed instructions.
Installed Docker and Docker Compose.

Then i Run: docker run --name deployer1 --rm -v /docker:/target servicecatalog/oscm-deployer

It Creates var.env and .env

I configured the data.

Then i run: docker run --name deployer2 --rm -v /docker:/target -v /var/run/docker.sock:/var/run/docker.sock -e INITDB=true -e STARTUP=true servicecatalog/oscm-deployer

and it works ti

[2018-08-14 13:05] GoebelL commented on #140
Hi @Dante12345
Which versions of docker and docker-compose do you use?

[2018-08-14 13:12] GoebelL commented on #140
I think to remember that for Ubuntu something shoud be deactivated. But I forgot...
@uhu133,
do I rememer well that you have OSCM running on Ubuntu? Can you help here?

[2018-08-14 13:23] Marcelo3384 commented on #140
Hi, much thanks for helping me.

Im using: vSphere with Cluster, on this Cluster runs a Host. On this Host runs a Network (in DMZ) and an ubuntu VM (Xenial 16.04.5 server LTS)
It has an IP: 195.50.xxx.xx

My Docker version:  18.06.0-ce
My Docker-Compose Version: 1.18.0, build 8dd22a9

[2018-08-14 13:28] uhu133 commented on #140
My Unbuntu is
Distributor ID: Ubuntu
Description:    Ubuntu 18.04.1 LTS
Release:        18.04
Codename:       bionic

Docker version 18.03.1-ce, build 9ee9f40

docker-compose version 1.21.0, build 5920eb0

No issues - nothing special settings

[2018-08-14 13:30] Marcelo3384 commented on #140
Ok, so an upgrade to Ubuntu 18.04 should fix the problem??

Thank you

[2018-08-14 13:40] uhu133 commented on #137
I can also confirm that more information on VMware errors is required. I detected more useful information in the oscm-app logfiles which could be used:

[08/06 14:27:45] [EjbTimerPool - 2] ERROR Failed to create VM of instance 1533565594168
com.vmware.vim25.InvalidLoginFaultMsg: Cannot complete login due to an incorrect user name or password.
        at sun.reflect.NativeConstructorAccessorImpl.ne

[2018-08-14 13:45] uhu133 opened #141 "oscm-app-vmware writes logfile with wrong name"
[app-aws.log](https://github.com/servicecatalog/oscm/files/2287162/app-aws.log)
[app-aws.log](https://github.com/servicecatalog/oscm/files/2287165/app-aws.log)

Observed:

if you want to debug the oscm-app-vmware controller you have to create a file<log4j.ess.aws.properties> in <apache/conf> directory and the output goes to  <app-aws.log>

in second installation this was the smae with <app-core.lo

[2018-08-14 14:03] Marcelo3384 commented on #140
I upgraded Ubuntu to the same Versions from @uhu133

still not working..
![adsdas](https://user-images.githubusercontent.com/19793366/44096444-8f62315e-9fdb-11e8-9c9c-75f36972b0d8.PNG)

maybe something is wrong with my configuration, but im sure i got everything i need and also uncommented everything im not using (like vm, openstack etc)

[2018-08-15 12:17] GoebelL commented on #122
@elfriedegoetz
Please verify after PR#139 is merged.

[2018-08-15 13:46] Marcelo3384 commented on #140
Why did you close this??

[2018-08-16 09:23] kowalczyka commented on #120
Issue is resolved with https://github.com/servicecatalog/oscm/commit/34cefdd6f5d620892da781341a125e5c36224f3c

[2018-08-16 09:23] #120 closed, assigned to elfriedegoetz, xusuest

[2018-08-16 09:23] kowalczyka commented on #122
Issue is resolved with 34cefdd

[2018-08-16 09:29] kowalczyka commented on #140
Hello Dante12345,

did you fill the var.env file with proper values (e.g. those related to the database: DB_***)?

[2018-08-16 14:31] shimizuf commented on #140
Hi @Dante12345,

in addition to @kowalczyka's question: The fact that the initdb-core container cannot reach the database points to some problem in your var.env file. Is it possible that you post the contents of your var.env file, redacting passwords?

[2018-08-17 10:27] Marcelo3384 commented on #140
Hi,

Thank you.

This is my var.env Database Setting:
![database](https://user-images.githubusercontent.com/19793366/44261738-e0d88080-a218-11e8-8ed7-7a50033135ac.PNG)

Here are the other settings.. rest is uncommented

![controller](https://user-images.githubusercontent.com/19793366/44261761-f2218d00-a218-11e8-8ef1-e80135037ff1.PNG)
![ip2](https://user-images.githubusercontent.com/19793366/442619

[2018-08-17 11:05] shimizuf commented on #140
Thanks for posting your var.env. The `${PLACEHOLDERS}` are actually in BASH variable format and must be replaced by the actual string. In other words, the `${}` must be removed. For example:

[code]

Could you please change your settings like that and try again? In the setting `REPORT_ENGINEURL`, please only remove the `${}` of the first parameter, where you entered your IP address, not in the oth

[2018-08-17 11:27] Marcelo3384 commented on #140
Thank you very much, removing the ${ solved the problem!!

i still cant connect to the https://hostname.fqdn:8081/oscm-portal/ .. but i think this is a firewall/network problem

much thanks !

[2018-08-17 11:31] shimizuf commented on #140
Glad to hear that, thank you for your feedback.

I'll close this issue. If you need more assistance, please feel free to create a new one.

Best regards.

[2018-08-17 11:31] #140 closed, assigned to kowalczyka, shimizuf, uhu133

[2018-08-21 09:09] elfriedegoetz commented on #122
It is still not possible to change the Controler_org_ID.
step1 : login to oscm-app
step2: change ContolerID ess.vmware to "TP1"
step3: click save
step4: log in to vmware controller: oscm-app-vmvare
--> not possible neither with "administrator" nor with "TP1"

The I tested the following:
step1: first log in to vmware controller: oscm-app-vmvare
step2: change BSS_UESR_ID and BSS_USER_KEY and BSS_USE

[2018-08-21 09:15] elfriedegoetz commented on #100
It is not possible to change the Controler_ID for vmware. see Bug 122

[2018-08-22 12:38] elfriedegoetz commented on #100
It is not possible to Change the Controller ID for aws:
step1: Install docker with sample data
step2: Login to APP with administrator  passwoed admin123
step3: Change Organisation ID for ess.aws to PLATFORM_OPERATOR
step4: click save
step5: Login to aws Controller with supplier@adfs.com  Password supplier
step6: click  save
error message: *** User does not belong to the correct organization.
![aws

[2018-08-23 07:57] GoebelL commented on #100
This works as expected because supplier@adfs.com is not member of PLATFORM_OPERATOR.

[2018-08-23 08:14] GoebelL commented on #122
Why do you want to change the controller ID ? The ID must not be changed. It has to match the JNDI name of the controller service.
You are probably mixing it with organization ID, or?

[2018-08-23 08:23] GoebelL commented on #122
The given steps are not useful.

[2018-08-23 08:32] GoebelL commented on #100
If you want to change the organization you should  proceed as described in the documentation - see above.

[2018-08-23 10:00] elfriedegoetz commented on #117
" INITDB=true"  does not initialize the DB.  It works fine , if you cleanup manually before

docker run --name deployer2 --rm -v ${WORKSPACE}:/target -v /var/run/docker.sock:/var/run/docker.sock -e INITDB=true -e SAMPLE_DATA=true -e STARTUP=true artifactory.intern.est.fujitsu.com:5003/oscmdocker/oscm-deployer:QA-17.7

[2018-08-23 11:16] elfriedegoetz commented on #100
The behavior is strange, therefore it is not easy to test and describe.
I suspect that the data is not always read from the database.
I have tested again for vmware Controller.

step1: Install docker with sample data
 step2: Login to APP with "administrator password admin123"
 step3: Change Organisation ID for ess.vmware to PLATFORM_OPERATOR
 step4: click save
 step5: Login to vmware Controller wi

[2018-08-23 11:22] elfriedegoetz commented on #100
tha same for aws controller

[2018-08-23 11:26] elfriedegoetz commented on #100
sorry, above I mean Organisation ID for the Controller and NOT Controller ID

[2018-08-23 12:09] elfriedegoetz commented on #122
Of course I do not mean controller ID  but organization ID , sorry.

It is still not possible to change the organisation ID for the controller.
 step1 : login to APP
 step2: change Organization ID for controller ess.vmware:  TP1
 step3: click save
 step4: log in to vmware Controller

 --> not possible neither with "administrator" nor with "TP1"

note:
It is not always reproducible. see issue 100.

[2018-08-24 07:35] kowalczyka commented on #122
Organization ID is generated when creating new organization.

TP1 which you are using here is probably username of that organization. Please find the organization id in the UI of oscm-core and try to use it.

[2018-08-24 07:58] kowalczyka commented on #100
If you change the organization id so that not PLATFORM_OPERATOR is used, the administrator (PLATFORM_OPERATOR organization) will no longer be able to login to controller UI

[2018-08-24 08:46] elfriedegoetz commented on #122
I'm sorry, that was my mistake. I have now tested with the correct organization ID.
Now it works.
 step1 : login to APP
 step2: change Organization ID for controller ess.vmware: "c913f6e3"
 step3: click save
 step4: log in to vmware Controller with administrator from Organisation "c913f6e3"
 step5: make changes for BSS_USER
 step6. click save
 step7: login again with BSS_USER

[2018-08-24 09:15] elfriedegoetz commented on #100
Okay: It works as described  from Goebel above. (see  commented on Jun 22 )
But Platform Operator should always have access to controller UIs.  see comment from Goebell above.
I am not sure if this is still necessary.

[2018-08-24 09:23] ghost commented on #117
@elfriedegoetz Can you post more details? What is exactly not working correctly, what is expected result, steps to reproduce etc.

Is it directly connected to previous bug reported here? If not then it should be separate ticket to avoid confusion.

It doesn't say a lot. It's EST internal registry and I am not familiar with `QA-17.7` tag. Did you create it on your own?

[2018-08-24 09:39] #122 closed, assigned to elfriedegoetz, xusuest

[2018-08-24 09:42] ghost commented on #100
Are you 100% sure about it?

Which comment?

[2018-08-24 11:05] elfriedegoetz commented on #117
QA-17.7 is the latest from master. I have build last week. But this is not the Point.
 INITDB=true  does not work with the command above.
[expected result]
The database is initialized if one exists. And the sample data will be loaded
[observed result]
The database will not be initialized if one exists.

[2018-08-24 11:35] elfriedegoetz commented on #100
GoebelL commented on Jun 26 or it ther a misunderstanding?

[2018-08-27 05:43] ghost commented on #100
Okay, in my opinion we should create separate issue for it and close this one.

[2018-08-27 05:47] ghost commented on #117
Okay, we have to check that.

It is important from our point of view. We have to use the same/almost the same version to be able to reproduce the error.

[2018-08-28 08:05] elfriedegoetz opened #142 "Password change for the owner of the VMware controller failed"
[Build]
docker 17.7 2018/08/28

[Steps to reproduce]
The OSCM installation was done from scratch in clean environment with sample data.
 "docker run --name deployer2 --rm -v ${WORKSPACE}:/target -v /var/run/docker.sock:/var/run/docker.sock -e INITDB=true -e SAMPLE_DATA=true -e STARTUP=true artifactory.intern.est.fujitsu.com:5003/oscmdocker/oscm-deployer:QA-17.7"

step1: login to ...8081/oscm-porta

[2018-08-28 09:03] elfriedegoetz opened #143 "change Organisation ID in APP: the ID is not checked if it exists"
[Build]
docker 17.7 2018/08/28

[Steps to reproduce]

step1: login to app
step2: change organisation ID for vmware to "PLATTFORM_OPERATOR"
note there is a typo

[Expected result]
a error message should be show "organistation does not exist"

[Observed result]
The configuration values have been saved successfully.

[2018-08-29 11:16] elfriedegoetz commented on #117
I set this bug to veryfied and create a new bug for the following issue:
" INITDB=true" does not initialize the DB. It works fine , if you cleanup manually before

[2018-08-30 10:45] ghost commented on #117
Closing it. Issue mentioned after reopen can be tracked from https://github.com/servicecatalog/oscm-dockerbuild/issues/137.

[2018-08-30 10:45] #117 closed, assigned to elfriedegoetz, uhu133

[2018-09-03 06:07] ghost commented on #137
Indeed it looks like the full error message is logged and the partial message is displayed.

https://github.com/servicecatalog/oscm/blob/34cefdd6f5d620892da781341a125e5c36224f3c/oscm-app-vmware/javasrc/org/oscm/app/vmware/business/statemachine/CreateActions.java#L99-L103

[2018-09-18 10:34] #126 closed, assigned to fabiorauber

[2018-09-18 10:43] GoebelL commented on #137
Please include the given exception details in the error message, same as the composed log message.

[2018-09-18 15:22] GoebelL commented on #100
Lots of duplicate reporting. Please check the open issues before filing new ones.

Not needed. The missing access for the platform administrator is reported in issue #23. This one is closed.

[2018-09-18 15:22] #100 closed, assigned to nobody

[2018-09-20 10:16] GoebelL commented on #143
This would be a nice to have. Ideally you have a combo like the organization chooser in manage organization page in the admin portal. However anything in this direction requires call backs from this APP UI to Core. That's not implemented here.

[2018-09-20 12:15] GoebelL commented on #142
The user credentials for the technical service for the VMWare connector have to be kept in sync with OSCM core. For changing the credentials the required procedure is the other way around.

1. Set new credentials in VMWare controller UI
2. Login to OSCM portal and change password on the account page.

In practice this technology manager user is a technical user, only internal and doesn't require t

[2018-09-20 12:21] GoebelL commented on #142
As shown in the screenshot, the user is locked. This is probably because of too many failed logins. So, first the platform administrator has to unlock the user's account.

[2018-09-21 06:15] ghost opened #144 "Azure controller not deleting all resources after subscription termination"
***Current behavior***
Currently during provisioning azure controller creates multiple resources in azure, including: virtual network interface, vm, storage account, etc. After terminating the subscription virtual machine is deleted and other resources are left, thus potentially creating costs.

***Expected result***
All created resources should be cleaned up after subscription termination.

[2018-09-21 06:19] ghost opened #145 "Azure controller - subscription stuck in pending state"
***Observed behavior***
Controller creates a virtual machine in azure along with other resources properly, however after everything is provisioned and running, subscription stays in a pending state.

***Expected result***
After a successful provisioning of a virtual machine in azure, subscription state should change and allow simple operations on a created machine.

[2018-09-21 08:17] elfriedegoetz commented on #142
In reverse order, as described by GoebelL, it works fine.

[2018-09-26 09:46] GoebelL opened #146 "Azure controller technical service template"
Please enhance the [technical service template](https://github.com/servicecatalog/oscm/blob/azure-adapt/oscm-app-azure/resources/TechnicalService_Azure.xml) for the Azure controller
* Correct value for provisioningUrl without place holders and pointing in the APP container
* Provide default values for TEMPLATE_BASE_URL, TEMPLATE_NAME, TEMPLATE_PARAMETERS_NAME
https://raw.githubusercontent.com/serv

[2018-09-26 10:08] ghost commented on #146
Should resource group, virtual network, subnet, etc. be filled with some names also? It could be something like myVnet, mySubnet, etc.

[2018-09-26 11:00] GoebelL commented on #146
Good default values add information or make things run out of the box. Just add wherever you can find such. Probably that's not the case for those you mention.

[2018-09-27 08:33] ghost opened #147 "Adapt azure controller unittests module"
Unit tests module for azure controller should be adapted to changes made in `oscm-app-azure` module to make it work.

[2018-10-01 07:40] GoebelL opened #148 "Enhance VMWare connector to allow for import of VMs"
Allow for back importing existing VMs to OSCM when creating respective subscriptions.

[2018-10-02 07:20] #144 closed, assigned to nobody

[2018-10-02 07:20] #147 closed, assigned to nobody

[2018-10-04 09:33] GoebelL commented on #148
Solution idea is to enhance the technical service for allowing the customer to subscribe to already existing VMs in the OSCM marketplace.
* Add a Boolean parameter ```IMPORT_VM``` that when passing ```true``` tells the VMWare connector to find specified VM in given VCenter cluster and assign it to the created instance.
* Further, in this import mode ```IMPORT_VM=true``` the provisioning has to fai

[2018-10-04 10:04] GoebelL commented on #148
The use cases import and modification of existing VMs shall not be mixed. The default technical service template has many parameter options and therefore might not be suitable for the import use case.
In order to keep things simple, we should introduce a dedicated service template for this feature. This also allows us to provide it as an operational tool, since the VM import is a technical use cas

[2018-10-05 09:40] elfriedegoetz opened #152 "Azure Instance: after execute operation "start", the detail shows state stopped"
[Build]
docker 17.7 2018/10/05

[Steps to reproduce]
create a azure instance
go to My Subscription
click the subscription
instance is running and
![start1](https://user-images.githubusercontent.com/15209605/46528163-62e93b00-c893-11e8-8f7b-5a4f87e975e6.PNG)
![start2](https://user-images.githubusercontent.com/15209605/46528164-6381d180-c893-11e8-9eaf-c593083f258b.PNG)

details shows state "running"

[2018-10-05 09:45] elfriedegoetz commented on #152
sorry the attachement are on wrong position, it should be inserted at the end

[2018-10-05 10:01] elfriedegoetz opened #153 "Azure: wrong mail are resceived after deleting a Instance"
[Build]
docker 17.7 2018/10/05

[Steps to reproduce]
create a azure instance  -> instance is running
goto subscription and terminate it

[Expected result]
the instance is terminated, all resoures are deleted and a meaningful mail will be received

[Observed result]
the instance is terminated, all resources are deleted, but the following mail is resceived:

Dear user,

The current operation on subs

[2018-10-05 12:07] elfriedegoetz commented on #137
I have tried to create instances with several wrong parameter or wrong user name, but the error message has no more information than before.
In the container log file I get more information:
[2018-10-05 11:51:01] [EjbTimerPool - 1] ERROR Failed to create VM of instance 1538740220610
org.oscm.app.v2_0.exceptions.APPlatformException: The configured vSphere data center, ESTE, could not be found.

[2018-10-05 14:14] GoebelL commented on #137
@elfriedegoetz
I have checked the last QA docker build. It has picked an too early revision bf04650, which doesn't include this fix yet. I have created a new build. Please pull it once more.

[2018-10-08 10:18] GoebelL commented on #141
@fest-floreks
Not sure if it matters, but I think a root slash is missing in the vmware log file path.
Please check
https://github.com/servicecatalog/oscm/pull/154/commits/0e8ffbf0b7d528675ebaef21e2127176e099d412#diff-2acd3bb5ded6921a456e0dac1c2d0303R25

[2018-10-08 10:28] ghost commented on #141
Relative path still works as the search starts from the root dir, but just to be sure that some future change will not collide with it I will add the root slash.

[2018-10-09 09:45] ghost commented on #138
@elfriedegoetz @GoebelL

I am currently investigating this issue. How should this information be displayed considering the fact that each vcenter can have multiple datacenters defined and each vcenter -> datacenter mapping can have multiple clusters defined. Additionally, there can be ippool, vlan configuration defined per each vcenter -> datacenter -> cluster mapping. This can provide many possib

[2018-10-10 08:56] ghost commented on #142
@GoebelL as the steps described by you work fine (confirmed by @elfriedegoetz) and it is the correct way of updating credentials, should this be closed? If not, what would be the expected way of fixing this issue?

[2018-10-10 11:42] GoebelL commented on #142
The correct steps are confirmed, but in case of reverse steps the error behavior is improvable.

Well, it's not the HTTP 500 page as @elfriedegoetz has posted. I think HTTP 401 would be the correct response in case of such failure, which should give back the user a login prompt. It still leaves the given user  locked out, but allows to recover with credentials from second technology manager*) of s

[2018-10-10 12:00] GoebelL commented on #152
@elfriedegoetz
What is shown in the operations view? Please check the result of the start operation in **Home > Account > Operations**. Is the start operation failed? If yes, is there further log information? Your answers help me to prioritize this issue.

[2018-10-12 08:09] elfriedegoetz commented on #152
![operation](https://user-images.githubusercontent.com/15209605/46856503-e7ddd280-ce06-11e8-93bd-a7fc04c1891a.PNG)

[2018-10-12 08:10] elfriedegoetz commented on #152
Home > Account > Operations shows: "start" Completed

[2018-10-12 09:02] elfriedegoetz opened #157 "Azure: creating instance, parameter "Template Base URL" does not work"
[Build]
docker 17.7 2018/10/05

[Steps to reproduce]
step 1: create a azure instance
   -> parameter for Template Base URL:
 https://raw.githubusercontent.com/servicecatalog/oscm/master/oscm-app-azure/resources/
instance is created and running
step2: create an other azure instance
-> parameter for Template Base URL:
 https://github.com/servicecatalog/oscm/tree/master/oscm-app-azure/resources/
all

[2018-10-12 09:08] elfriedegoetz commented on #138
Yes exactly, but therefore it is important to see which values are stored

[2018-10-14 18:38] GoebelL opened #158 "Provide a XaaS connector with flexible script based provisioning"
Need a generic APP v2 controller which allows shell based remote provisioning on any hypervisor.

[2018-10-15 08:11] GoebelL opened #159 "Allow resellers to define a prices for their customers"
* Service prices are defined by the supplier as it is
* Resellers can define a reseller margin per service price model
* A margin is a positive or negative percentage added on top of a service price
* The native billing price model calculator takes reseller margin into account for computing the total net prices of price models
* Margins are not visible in reports and customer billing data

[2018-10-15 08:36] ghost commented on #157
Please provide all parameters used to create the subscription so I can reproduce and investigate the issue.

[2018-10-15 08:49] GoebelL opened #160 "Investigate Kafka provisioning adapter"
Check https://github.com/servicecatalog/oscm/tree/master/oscm-kafka
What is needed to make it work with new CM provisioning service?

[2018-10-17 08:02] elfriedegoetz commented on #157
I set the parameters the way you wrote me:

1.	Technical service can be found at: https://github.com/servicecatalog/oscm/blob/master/oscm-app-azure/resources/TechnicalService_Azure.xml

3.	Regarding some of the parameters required to create the subscription, here are some hints how to fill them:
a.	Subscription ID – can be found at Cost Management + Billing -> Overview -> Subscription ID
b.	Azure

[2018-10-17 09:43] elfriedegoetz commented on #137
Now it works fine
Dear user,

The current operation on subscription 'VMware ESS 6.5 17.4(3)' for customer 'PLATFORM_OPERATOR' has been suspended (Instance: '1539769178243').

Reported problem: Failed to create VM instance 1539769178243.The configured vSphere data center, ESTd, could not be found.

[2018-10-17 09:43] #137 closed, assigned to elfriedegoetz

[2018-10-18 07:21] ghost commented on #138
I actually need some guidance about expected UI design and how information should be displayed there considering all the connections and level of information required to display.

[2018-10-18 07:28] ghost commented on #157
The issue here is quite different and it is not related to azure connector.

-> parameter for Template Base URL:
https://github.com/servicecatalog/oscm/tree/master/oscm-app-azure/resources/

You have provided a wrong base URL. It is different from the one that I have provided and the one used in step 1:
https://raw.githubusercontent.com/servicecatalog/oscm/master/oscm-app-azure/resources/

The thi

[2018-10-18 07:41] elfriedegoetz commented on #157
Okay I will close the bug

[2018-10-18 07:41] #157 closed, assigned to elfriedegoetz

[2018-10-18 10:55] elfriedegoetz commented on #141
app-vmware.log is ok
app.aws.log does not work: Templet not found
app.openstack.log has entries from azure and vmware

[2018-10-18 11:23] elfriedegoetz commented on #145
Controller creates a virtual machine in azure along with other resources properly, however after everything is provisioned and running, subscription stays in a pending state and I get the message:

Dear user,

An error occurred while notifying Catalog Manager about the provisioning process for subscription 'AzureARM_Example' for customer 'PLATFORM_OPERATOR' (Instance: 'azure-627a9f8a-43f5-4eb2-b53

[2018-10-18 11:25] elfriedegoetz commented on #146
see #145

[2018-10-18 11:38] elfriedegoetz opened #162 "VMware : Details Information will not be updated"
[Build]
docker 17.7 2018/10/17

[Steps to reproduce]
create a VMware instance
goto My Subscrption
stop the Instance

[Expected result]
The Details Information  will be updated

[Observed result]
status is still running

ACCOUNT-> view operations: the stop operation is completed and the Instance has stopped

[2018-10-19 08:06] GoebelL commented on #162
Same as #152. Apparently caused by missing progress callback from APP. This should be fixed together.

[2018-10-19 08:42] ghost commented on #145
Technical Service has not changed and I have been testing azure controller yesterday without any issues. There might be an issue with your environment.

[2018-10-19 08:45] ghost commented on #146
As mentioned in #145 technical service did not change since 18 days: https://github.com/servicecatalog/oscm/blob/master/oscm-app-azure/resources/TechnicalService_Azure.xml

It is not technical service issue.

[2018-10-19 09:22] ghost commented on #145
Tested again based on the latest master and it works.

![image](https://user-images.githubusercontent.com/40793157/47209690-3f44eb00-d391-11e8-8cf7-da2b47633e91.png)

![image](https://user-images.githubusercontent.com/40793157/47209700-466bf900-d391-11e8-9c67-c550f5f14adf.png)

[2018-10-19 11:57] ghost commented on #141
Described behavior looks like the one before applying the fix. Is it possible that it was tested on some old build and not latest master?

[2018-10-22 14:41] uhu133 opened #163 "oscm-app-sample with wrong port in technical service"
The example technical services hold a wrong provisioning URL

  provisioningUrl="http://oscm-app:8080/oscm-app/webservices/oscm-app/oscm-app/org.oscm.app.v2_0.service.AsynchronousProvisioningProxy?wsdl" provisioningVersion="1.0"

should be

  provisioningUrl="http://oscm-app:8880/oscm-app/webservices/oscm-app/oscm-app/org.oscm.app.v2_0.service.AsynchronousProvisioningProxy?wsdl" provisioningVersio

[2018-10-23 08:13] elfriedegoetz commented on #146
works fine with build from 19.10.2018

[2018-10-23 08:13] #146 closed, assigned to gertipoppel

[2018-10-23 08:14] elfriedegoetz commented on #145
works fine with build from 19.10.2018

[2018-10-23 08:14] #145 closed, assigned to nobody

[2018-10-23 08:46] ghost commented on #152
After investigating the issue I have come to the conclusion that It is not directly related to the azure controller, but rather to all operations that can be executed on provisioned machines (in every controller).

The issue is not 100% reproducible and happens very randomly. When it happens, we can see in the logs:
[code]

Related code:
https://github.com/servicecatalog/oscm/blob/dbd251fe61def705

[2018-10-23 09:33] elfriedegoetz commented on #141
tested with build from 19.10.2018:
app-vmware.log is ok
app.aws.log is empty
app.openstack.log is ok
app.azure is ok

[2018-10-23 09:39] elfriedegoetz commented on #152
I would like to point out that aws works correctly

[2018-10-23 10:19] elfriedegoetz commented on #121
Make Domain Name as a mandatory parameter is not necessary.
The problem is that the user option must be set, although the parameter can also be empty.
This does not make sense.

[2018-10-23 11:59] elfriedegoetz commented on #153
A wrong mail is still being sent
Dear user,

The subscription 'AzureARM_Example#939d12bc-74bc-4eda-a844-973d61b0da79' for customer 'PLATFORM_OPERATOR' has been terminated but the instance 'azure-9b525b37-a6e3-46d0-b5b1-3b3922a828e0' could not be deleted.

No row with the given identifier exists: [org.oscm.app.domain.InstanceParameter#1019]

With best regards.

This email has been generated automat

[2018-10-23 12:00] elfriedegoetz commented on #153
I tested with build from 23.10.2018

[2018-10-24 08:56] ghost commented on #141
Logging is set to quite high level so they can be empty unless controller is used.

[2018-10-24 08:58] ghost commented on #153
This looks quite different than the old one. Old one was directly related to Azure controller and the way instance was deleted. An error was thrown by the Azure portal API. In this case, it looks like internal oscm error.

I am not sure why it is thrown, so I will try to investigate that.

[2018-10-24 09:14] ghost commented on #121
create a marketable service without "user option" for Domain Name
create a new Instance
...
[Detail]
"user option" for Domain Name is needed, but the value can be empty. This does not make sense

Making a technical service parameter mandatory requires from user providing a value. If "user option" is not set and someone tries to leave it empty then there is an error. As an example I have used azure

[2018-10-24 10:01] elfriedegoetz commented on #141
Yes, but errors should be logged in any case.

[2018-10-24 10:11] ghost commented on #141
They will be logged. WARN level means that warnings, errors and fatal level messages will be logged.

[2018-10-24 10:49] elfriedegoetz commented on #141
just for my understanding, I tested with a wrong authentication and received the following mail. But the log file is empty?

Dear user,

The current operation on subscription 'AWS_EC2' for customer 'PLATFORM_OPERATOR' has been suspended (Instance: 'aws-34b5c690-3ec3-4ee8-bbc5-ca523606598c').

Reported problem: AWS authentication failure: AWS was not able to validate the provided access credentials

[2018-10-24 11:08] ghost commented on #141
This means that error is thrown in the code but log4j is not used to log it. Only mail is sent.

[2018-10-24 13:01] elfriedegoetz opened #164 "oscm-app-aws logfile is empty"
[Build]
 docker  2018/10/23
[Steps to reproduce]
create a file<log4j.ess.aws.properties> in <apache/conf>
[Expected result]
errors are logging in <app-aws.log>
[Observed result]
logfile <app-aws.log> is empty.

[2018-10-24 13:03] elfriedegoetz commented on #141
I close this bug and create a new bug for oscm-app-aws  #164

[2018-10-24 13:03] #141 closed, assigned to elfriedegoetz

[2018-10-25 08:04] elfriedegoetz commented on #121
I have investigated the problem more closely and found that the domain name is not taken into account. This is always : intern.est.fujitsu.com regardless of how the value is set.
![domain](https://user-images.githubusercontent.com/15209605/47484952-57a78080-d83d-11e8-8201-5a53f1a54563.PNG)

[2018-10-25 08:49] GoebelL commented on #121
Let's keep it simple. Specify the default name given by VCenter as default parameter value in the technical service template and keep the parameter mandatory. The supplier will leave this parameter as non-user- option, so that the customer does have to bother with it.

[2018-10-26 08:12] elfriedegoetz opened #166 "Azure Controller: How to ensure client_id and client_secret are stored encrypted"
[Build]
docker 2018/10/23
[Expected result]
these should be stored encryptedin the bssapp datastore according to the other controllers
[Observed result]
unencrypted in bss datastore

[2018-10-26 09:18] uhu133 commented on #158
I see the following enhancements regarding the existing Powershell connector. Please consider them.
1. The new connector shall use Json as return format from script to connector (instead of plain text)
-> https://github.com/servicecatalog/oscm-app-shell/issues/9
2. The new connector shall provide an additional script. This script is called regularly to collect billable events (similar to OpenStack

[2018-10-26 09:22] uhu133 opened #167 "oscm-app container shall be deploy-able multiple times"
In order to separate different technology providers, the oscm-app container including its connectors shall be deploy-able multiple times.

[2018-10-26 09:24] kowalczyka commented on #158
The question is also what types of scripts should be handled?

What do we mean by "flexible script based provisioning"?

[2018-10-26 09:26] uhu133 commented on #158
I would prefer bash scripts. Starting from them I could call any thing else. Flexible means that it can be scripted without coding. But maybe this is not the right wording.

[2018-10-26 10:33] ghost commented on #164
In the essence, errors are actually logged, but not in every scenario. Errors usually should only be logged by unexpected/unhandled actions. Actions like providing wrong credentials, etc. should not log errors (at most it should be a debug level).

I think that current behavior is correct and in case we would want to log more information overall then it would be an enhancement/feature.

In example

[2018-10-26 10:57] #121 closed, assigned to nobody

[2018-10-26 10:58] uhu133 commented on #158
One further item:
4. The new connector shall receive the access info from the provisioning script as return value
-> https://github.com/servicecatalog/oscm-app-shell/issues/11

[2018-10-26 10:59] #152 closed, assigned to nobody

[2018-10-26 11:58] GoebelL commented on #166
Those secrets should be declared as password type parameters in the technical service XML. These are string parameters ending with "_PWD", like for instance [this one](https://github.com/servicecatalog/oscm/blob/master/oscm-app-vmware/resources/TechnicalService_VMware.xml#L324).

[2018-10-26 14:50] GoebelL commented on #158
Point 2 is for later as it requires some basic refactoring.

Further requirement points discussed:

5. The new connector shall provide details in custom tab
-> https://github.com/servicecatalog/oscm-app-shell/issues/13
6. The new connector shall provide for basic validation
-> https://github.com/servicecatalog/oscm-app-shell/issues/14
7. The new connector shall provide for logging of in-bound and

[2018-10-26 14:52] GoebelL commented on #158
Respective development task issues will be attached to this epic.

[2018-10-29 07:46] ghost commented on #153
Closed by #168

[2018-10-29 09:55] GoebelL opened #170 "add oscm-app-shell to docker build"

[2018-10-29 10:34] #170 closed, assigned to nobody

[2018-10-29 10:36] #55 closed, assigned to nobody

[2018-10-29 10:58] GoebelL commented on #69
Obsolete. The sample service templates can be found in respective projects in in this repository.

[2018-10-29 10:58] #69 closed, assigned to nobody

[2018-10-29 11:19] GoebelL opened #171 "Externalize oscm-extsvc"

[2018-10-29 11:19] GoebelL opened #172 "Externalize interfaces"
Update OSCM build to use oscm interfaces from Jitpack.

1) oscm-extsvc &#10004;
2) oscm-extsvc-provisioning &#10004;
3) oscm-app-extsvc &#10004;
4) oscm-extsvc-internal  &#10004;
5) oscm-billing-external-interfaces  &#10004;
6) oscm-extsvc-operation &#10004;
7) oscm-extsvc-notification &#10004;
8) oscm-psp-extsvc  &#10004;

See maven pom in https://github.com/servicecatalog/oscm-interfaces

[2018-10-29 11:44] GoebelL commented on #163
This is fixed upstream. Tbd: Updating app-sample-controller.zip on the [oscm release tab](https://github.com/servicecatalog/oscm/releases).

[2018-10-29 12:33] ghost commented on #166
From what I have checked it appears that `_PWD` suffix only changes the type of input field in the UI so it is masked and can not be read from the UI. It does not change in any way how the values are stored both in bss and bssapp databases. They are still a plain text values.

UI
![image](https://user-images.githubusercontent.com/40793157/47650036-4fbe4800-db7f-11e8-92a0-92c0e8631d45.png)

DB
![im

[2018-10-29 13:45] GoebelL commented on #171
Remove old project from oscm repositiory

[2018-10-30 03:17] raonadeem opened #173 "changing parameters fails"
Hi,

I have deployed a sample controller and created a technical service with some configurable parameters.
Then I have subscribed for this service using administrator user and assigned that user to the subscription.

But now, when I try to change the parameters value in Configure, it return me the following error;

The subscription could not be changed because the constraints of subscription SAHA

[2018-10-30 03:21] raonadeem opened #174 "Steps to integrate with single sign on"
Hi,

What are the steps to integrate oscm with single sign on application like Keycloak?

[2018-10-30 11:16] GoebelL commented on #166
@fest-floreks
First, you are right that the _PWD suffix is for masking the values on the UI only. However, if you'd dig a bit deeper you would find that the parameter encryption _is implemented_ in the provisioning API in OSCM. [Service parameters of password type are stored encrypted](https://github.com/servicecatalog/oscm/blob/master/oscm-domainobjects/javasrc/org/oscm/domobjects/Parameter.java#

[2018-10-30 12:03] GoebelL commented on #173
Hi @raonadeem
The sample controller is meant to showcase the implementation of the APP interface. On each provisioning step it issues emails to the user specified with the subscription parameters. In this technical service the user parameter is defined as user option. This means, the supplier, who is offering the service on his marketplace, can provide this parameter as option to his customers. Ch

[2018-10-30 13:25] #166 closed, assigned to nobody

[2018-10-31 09:31] ghost commented on #142
I have found out that there is an issue with `AuthorizationFilter` logic. Basically, if `loggedInUserId` attribute is found then it always assumes that credentials stored in the session are correct and user is not reauthenticated to check if they are still valid (i.e. password might have changed).

https://github.com/servicecatalog/oscm/blob/00a33b798a290c7d116217a2ed10b75c214f0db2/oscm-app-vmware

[2018-10-31 12:33] elfriedegoetz commented on #153
Dear user,

The subscription 'AzureARM_Example#360d219c-563e-4153-81e0-c616559c8f05' for customer 'PLATFORM_OPERATOR' has been terminated but the instance 'azure-770ca01c-fc63-4e6e-ac97-05bea2ad9a66' could not be deleted.

java.lang.NullPointerException

With best regards.

This email has been generated automatically. Please do not reply to this email.

[2018-10-31 13:28] elfriedegoetz commented on #121
okay with build 31.11.2018

[2018-11-04 05:13] #173 closed, assigned to nobody

[2018-11-04 05:16] raonadeem commented on #173
Hi @GoebelL
I had modified the technical service definitions and now used the default sample technical service definition which is working fine now.
Thanks

[2018-11-06 10:39] uhu133 opened #179 "Billing report failed when using PWD and price on service"
service.business.model.billingresult.ParameterDataType.PWD
 java.lang.IllegalArgumentException: No enum constant org.oscm.billingservice.business.model.billingresult.ParameterDataType.PWD
        at java.lang.Enum.valueOf(Enum.java:238)
        at org.oscm.billingservice.business.model.billingresult.ParameterDataType.valueOf(ParameterDataType.java:1)
        at org.oscm.billingservice.business.mod

[2018-11-06 10:54] uhu133 opened #180 "Crypted Titel of OSCM Administration page"
![oscm](https://user-images.githubusercontent.com/32158057/48059828-88cb6d80-e1ba-11e8-9185-1a9030c96cc3.JPG)
![oscm](https://user-images.githubusercontent.com/32158057/48059854-9680f300-e1ba-11e8-8222-33d185f7d100.JPG)
OSCM Titel gets overwritten "by Enterprise Service Catalog Manager"

[2018-11-06 12:08] GoebelL commented on #180
@uhu133
This looks weird indeed. Where does this enterprise branding source from? Did you install OSCM or ESCM containers? Or mixed both?  Does it look same with private browsing? I just think, it might be also a browser caching effect.

[2018-11-06 12:11] uhu133 commented on #180
no branding source
out of the box oscm:latest
.env:
IMAGE_DB=servicecatalog/oscm-db:latest
IMAGE_CORE=servicecatalog/oscm-core:latest
IMAGE_APP=servicecatalog/oscm-app:latest
IMAGE_BIRT=servicecatalog/oscm-birt:latest
IMAGE_BRANDING=servicecatalog/oscm-branding:latest
IMAGE_INITDB=servicecatalog/oscm-initdb:latest
IMAGE_PROXY=servicecatalog/oscm-proxy:latest
IMAGE_HELP=servicecatalog/oscm-help:lat

[2018-11-06 12:45] uhu133 commented on #180
It was an cache issue - closed

[2018-11-06 12:45] #180 closed, assigned to GoebelL

[2018-11-07 13:58] GoebelL commented on #179
This has been fixed in commit 9df153ce.

@uhu133
The fix is provided on DockerHub. Just pull the image from "servicecatalog/xxx:latest"
(xxx =  deployer, oscm-core, oscm-app,birt,branding, oscm-initdb, oscm-help and oscm-db)

[2018-11-07 14:04] #179 closed, assigned to GoebelL

[2018-11-14 09:26] GoebelL commented on #163
This is fixed in source packages on https://github.com/servicecatalog/oscm/releases

[2018-11-14 09:26] #163 closed, assigned to nobody

[2018-11-14 12:45] elfriedegoetz commented on #142
[Build]
build from 13.11.2018 13:30 tag QA

Does still not work in reverse steps

[2018-11-14 13:51] elfriedegoetz commented on #142
I have understood that the documented order must be adhered to. But a wrong order must not lead to a blocked account.
![login](https://user-images.githubusercontent.com/15209605/48486772-be0c3700-e81c-11e8-92a5-70a7e8bee665.PNG)

[2018-11-14 14:13] uhu133 opened #182 "VMware provisioning failed"
When trying to provision a VM with vmware connector the following exception occurs and the provisioning stops:

Caused by: java.net.UnknownHostException: UnknownHostException invoking https://xxxx.local/sdk/vimService?wsdl: none
        at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
        at sun.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessor

[2018-11-15 08:12] uhu133 commented on #182
[app-vmware.log](https://github.com/servicecatalog/oscm/files/2584279/app-vmware.log)

[2018-11-16 12:09] GoebelL commented on #182
This issue does not reproduce in our test environment.
From [VMWareClient source code ](https://github.com/servicecatalog/oscm/blob/master/oscm-app-vmware/javasrc/org/oscm/app/vmware/remote/vmware/VMwareClient.java#L92) we can see that only the  SDK is interacting with vim service here.
Since the the WS call is attempted, it was successful to retrieve the wsdl. However the destination host name is

[2018-11-16 22:23] uhu133 commented on #182
A simple VMware VIM Hello World sample is running properly on this server - see files attached.
So I assume some error in the code calling the VIM.

[2018-11-16 22:25] uhu133 commented on #182
[HelloWorld.zip](https://github.com/servicecatalog/oscm/files/2591081/HelloWorld.zip)

[2018-11-19 13:22] GoebelL commented on #182
@uhu133
There is only one single difference I can spot between your 'hello word' application and the VMWareClient:
The client uses a custom ```javax.net.ssl.HostnameVerifier``` to grant access to all host names while your application doesn't.
I found some posts that look at most partially related here and point to [JDK 1.8 bugs](https://bugs.java.com/view_bug.do?bug_id=JDK-8144567).
Although it do

[2018-11-19 14:06] uhu133 commented on #182
I also added javax.net.ssl.HostnameVerifier to the HelloWorld example. With you line. And it works fine.
So the code is almost the same.

Regarding the environment: The HelloWorld Example runs within the oscm-app container.

[2018-11-20 06:20] raonadeem commented on #174
Any update on this please?

[2018-11-20 11:23] GoebelL commented on #182
You are using direct access without proxy. Please check the proxy is set correctly. Execute oscm-app container and check /opt/apache-tomee/conf/catalina.properties and /opt/apache-tomee/bin/catalina.sh.
Check the value that is composed for JAVA_OPTS.

[2018-11-20 12:48] uhu133 commented on #182
Uncommenting all proxy-settings in catalina_templates.sh and .properties helped

[2018-11-20 13:32] GoebelL commented on #182
@uhu133
Following condition in catalina.sh should fix it.

[code]

[2018-11-22 09:37] GoebelL commented on #182
This fix is available on DockerHub. Pull the images with latest tag as described [here](https://hub.docker.com/r/servicecatalog/oscm-deployer/).

[2018-11-22 09:37] #182 closed, assigned to GoebelL

[2018-11-22 14:30] cworf91 commented on #167
Have a look at the description:
https://github.com/servicecatalog/oscm/blob/master/oscm-app/resources/multiple_app_deployment.md

[2018-11-22 14:35] #167 closed, assigned to GoebelL, uhu133, cworf91

[2018-11-23 16:51] GoebelL commented on #174
Hi @raonadeem
There is an option for SSO federation with external ID providers based on SAML 2.0. This is available for prior Glassfish versions only. The steps to integrate can be found in the [17.4 Operator's Guide](https://github.com/servicecatalog/documentation/blob/v17.4.0/Development/oscm-doc-user/resources/manuals/installation%2Boperation/en/Operation.pdf), chapter 5.6.

SSO support with Op

[2018-11-28 15:42] #174 closed, assigned to nobody

[2018-11-29 13:38] Marcelo3384 opened #185 "SAP Connector with OSCM"
Hi,

I want to connect OSCM with SAP but cant find anything about this ..
is it even possible to create a connector to the SAP Database with Prices, Products etc.

Thank you

[2018-12-07 09:09] GoebelL opened #187 "Externalize oscm-extsvc-operation"

[2018-12-07 15:08] #187 closed, assigned to GoebelL

[2018-12-07 15:09] GoebelL opened #188 "Externalize oscm-extsvc-provisioning + oscm-extsvc-notification"

[2018-12-07 15:48] #171 closed, assigned to GoebelL

[2018-12-07 17:29] #188 closed, assigned to GoebelL

[2018-12-10 10:24] Crystalzord opened #190 "Fix BES_MASTER_WS jenkins job"
Jenkins job http://10.140.16.80:8080/job/BES_MASTER_WS/ is failing after some changes in groovy scripts and oscm-app-shell and this needs to be fixed.

[2018-12-10 13:11] GoebelL opened #191 "Externalize oscm-psp-extsvc"

[2018-12-12 15:57] cklitscher opened #192 "Branding changes without need to restart the related container"
to avoid service interruption there should be provided a way to update a branding package for the marketplace without being forced to stop and start again the container (oscm-app)

[2018-12-18 21:57] GoebelL commented on #192
@cworf91
Please check and describe if an inotify based solution for docker is applicable here. Same shall be applied to shell adapter triggering script import on file system events.

[2018-12-20 09:15] GoebelL opened #194 "Wrong path for branding package in Operator's Guide"
**Version Info**
OSCM 17.8 documentation

**Describe the bug**
Operator's Guide, Chapter 9.5 point 3: The target path for the branding package is wrong.

**Observed behavior**
"Put the .tar.gz file into the following directory on your Docker host:
/docker/config/oscm-branding/brandings"

**Expected behavior**
"Put the .tar.gz file into the following directory on your Docker host:
/docker/config/br

[2018-12-20 09:39] cworf91 commented on #194
In the documentation the Chapter 9.5 point 4: The steps a, b and c are unnecessary.
Under the step f it musst be called folder, not tar.gz.

In the Induroduction of the Chapter 9.5 there is no longer a need for creating a tar.gz. Now the user has to put the files in a folder, therefore point 2 is unnecessary as well.

In addition to the changes listed under point 3, "put tar.gz" must be changed to

[2018-12-20 13:18] gertipoppel commented on #194
**Version Info**

OSCM 17.9 documentation

**Fix**

Changed the description in Operator's Guide 9.5 as well as in the online help page "Customizing the marketplace layout" (called when clicking ? on the Customize Layout page in the portal.

Fixed by commit https://github.com/servicecatalog/documentation/commit/14579f4b674125d672739c6a10895992733d1097

[2018-12-20 13:18] #194 closed, assigned to gertipoppel

[2018-12-21 15:21] GoebelL commented on #192
Hot deploy has been implemented in OSCM 17.9, for branding packages as well as for scripts for the new shell adapter. Restarting containers is no longer required for deploying any changes.

Please note a minor operational change:  The branding package must now be extracted into the target branding folder. For detailed steps please refer to the [Operator's Guide](https://github.com/servicecatalog/d

[2018-12-21 15:21] #192 closed, assigned to cworf91

[2019-01-08 09:40] GoebelL opened #197 "Subscribing existing VM"
VMWare connector subscribing existing VMs
*  Define service with required service parameters
*  Test

[2019-01-08 10:55] GoebelL opened #198 "externalize oscm-extsvc-internal"

[2019-01-08 10:56] GoebelL opened #199 "externalize oscm-billing-external-interfaces"

[2019-01-08 11:01] GoebelL commented on #190
Remaining test errors, such as
[code]

[2019-01-15 12:59] GoebelL commented on #190
Thanks @kowalczyka.
Just some unexpected exception - in this case an issue with a mail server - has caused this weird response.

[2019-01-15 12:59] #190 closed, assigned to kowalczyka, GoebelL

[2019-01-16 10:00] GoebelL opened #200 "Allow customer attributes for provisioning"
Enhance provisioning proxy to make customer attributes available for cloud adapters.

[2019-01-17 13:58] cworf91 commented on #197
https://github.com/servicecatalog/oscm/pull/201

[2019-01-17 14:36] #197 closed, assigned to cworf91

[2019-01-24 10:26] GoebelL opened #202 "Enable loadbalancer in VMware controller"

[2019-01-28 11:09] Crystalzord opened #204 "Remove _copyDocument target from build.xml since it is obsolete."
The file is in oscm-build/build.xml. Target _copyDocument from line 143 fails the build because it is dependent on documentation repository...

[2019-01-29 09:44] cworf91 commented on #202
https://github.com/servicecatalog/oscm/pull/205

[2019-01-30 09:05] #200 closed, assigned to kowalczyka

[2019-01-30 09:15] GoebelL opened #207 "Jenkins job for update installation"

[2019-01-30 10:47] GoebelL opened #208 "Code formatting template for IntelliJ"
OSCM [code formatting templates](https://github.com/servicecatalog/oscm/tree/master/oscm-devruntime/javares/codestyle) are provided for eclipse. They can be imported in other IDEs but behave differently there. Developers are requesting templates for IntelliJ.

[2019-01-30 11:32] GoebelL commented on #202
The VM load balancer is enabled and working fine. Following classes are available
* org.oscm.app.vmware.business.balancer.EquipartitionHostBalancer
* org.oscm.app.vmware.business.balancer.EquipartitionStorageBalancer
* org.oscm.app.vmware.business.balancer.DynamicEquipartitionStorageBalancer
* org.oscm.app.vmware.business.balancer.DynamicEquipartitionHostBalancer

However this has to be configured

[2019-01-30 11:37] GoebelL commented on #202
@gertipoppel
The cluster format description needs to be enhanced in the VMWare Guide, chapter 2 and Appendix B.

[2019-02-01 13:52] #204 closed, assigned to Crystalzord

[2019-02-05 09:51] cworf91 commented on #202
https://github.com/servicecatalog/oscm/pull/211

[2019-02-05 10:27] cworf91 commented on #202
A new loadbalancer can now be configured via a csv file. This requires the following format:
VCenter, Datacenter, Clustername, Load_balancer
It is important that the loadbalancer configuration is passed in the XML format. You can find a sample loadbalancer.xml config at: /oscm-app-vmware/resources/xml/loadbalancer_config.xml.
In the csv file, make sure that the load_balancer configuration (xml) is

[2019-02-05 11:25] GoebelL opened #212 "Enhance cloud adapters to provide for connectivity tests."
Enhance cloud adapters to provide for connectivity tests.

Idea:
Connection data and logic is cloud specific. Therefore
* Extend the interface ```org.oscm.app.v2_0.intf.APPlatformController``` two methods

[code]
* Ensure backward compatibility with trivial or empty default implementations
* Controllers can contribute specific implementations:
```canPing``` checks if required connection data is se

[2019-02-06 13:44] Crystalzord commented on #207
Implemented & merged
http://10.140.19.25/fujitsu-bss/jenkinsScripts/commit/e31cf359bc83bf27444ee747d46470b0f0ba8af1

http://10.140.19.25/fujitsu-bss/jenkinsScripts/merge_requests/8

http://10.140.16.80:8080/view/Docker_OSCM/job/OSCM_Update_oscm_app/

http://10.140.16.80:8080/view/Docker_OSCM/job/OSCM_Update_oscm_app_shell/

http://10.140.16.80:8080/view/Docker_OSCM/job/OSCM_Update_oscm_core/

[2019-02-06 13:44] #207 closed, assigned to Crystalzord

[2019-02-07 13:12] uhu133 opened #213 "Termination of VMware VM suspended because VM was not stopped before deleting"
**Version Info**
17.9, VMware connector

**Describe the bug**
A provisioning of a VMware VM fails for some reasons. The VM is running but not ready. OK. The subscription remains in "pending". OK:

If the user terminates the subscription (in status pending) the VMware connector tries to delete the VM (which is running) from disk. This fails! The VM should be stopped before deleting!

[2019-02-07 13:15] uhu133 opened #214 "Localized text not visible on AWS provisioning errror"
**Version Info**
17.0

**Describe the bug**

On failed provisioning of a VM (in this case the security group did not exist in AWS) the following mail was sent:
---------------------
Dear Mr. X,

The subscription 'AWS_EC2 v2.0(4)' for the customer with the ID '959c9bf7' could not be activated. The service instance could not be provided.

[org.oscm.app.v2_0.data.LocalizedText@50502f63, org.oscm.app.

[2019-02-08 07:47] uhu133 opened #215 "Provide a link to the VMware web console in Access Info"
As part of the access info a link to the VMware web console should appear.

Some URLs for info how to implement

https://www.virtuallyghetto.com/2013/02/how-to-access-vsphere-remote-console.html
https://code.vmware.com/docs/142/vmware-remote-console--vmrc--sdk
https://code.vmware.com/samples/637/generate-html-5-vm-console

[2019-02-08 14:04] GoebelL opened #216 "VMWare custom tab"
AWS, OpenStack and Shell connectors provide for displaying basic server information in the custom tab of subscription details. Same is needed for the VMWare integration.

[2019-02-08 14:46] GoebelL opened #217 "Ping for VMWare"
Relates to #212
Relates to [respective branch on oscm-interfaces](https://github.com/servicecatalog/oscm-interfaces/tree/feature/connectivity-tests)

[2019-02-08 14:49] GoebelL opened #218 "Ping for OpenStack"

[2019-02-11 09:43] GoebelL opened #219 "Question about loadbalancer default configuration"
If loadbalancer configuration is not provided a default configuration has to taken. Does this still apply?

[2019-02-11 09:45] GoebelL commented on #219
Info is requested from @gertipoppel

[2019-02-12 07:11] adamczykba commented on #217
@GoebelL Can I ask You to provide german and japanese translations for:

- Validate Settings
- Check Connection

[2019-02-13 12:08] GoebelL opened #221 "Remove apache commons-configuration2"
VMWare controller configuration has just been ported on dom API. The commons-configuration2 libraries are no longer needed. Cleanup source and packaging.

[2019-02-13 12:48] GoebelL commented on #217
Hi @adamczykba
Just add the messages in English to all bundles. I'll walk through that later together with @gertipoppel.

[2019-02-14 08:28] uhu133 opened #222 "Support "Distributed Switch" in VMWare controller"
**Version Info**
latest

**Describe the Feature**
In a project we are using "Distributed Switches" for the networks of VMs. This parameter is not available yet. It needs to be provided for NIC1-4 in addition to the network name.
![distributed](https://user-images.githubusercontent.com/32158057/52773279-dddd1200-303a-11e9-85ef-45daf25002ed.JPG)

[2019-02-14 09:58] #221 closed, assigned to GoebelL

[2019-02-14 10:29] GoebelL opened #223 "Ping - Enhance APP UI to provide for connectivity tests"

[2019-02-14 10:45] GoebelL commented on #223
Display error message in pop-up needed for handling lengthy messages.

[2019-02-14 10:55] GoebelL opened #224 "Provide workspace configuration for IntelliJ"
* Classpath for projects
* JUnit test

[2019-02-14 18:44] cworf91 commented on #219
Now it should work with a default configuration.

[2019-02-18 09:19] adamczykba commented on #223
@GoebelL
Two questions regarding this one:

1. Right now error message is displayed in the following manner"
![obraz](https://user-images.githubusercontent.com/47355402/52940254-6246d200-3366-11e9-8693-f5ddaab50562.png)

Do You think that it is really needed to implement the popup on top of that?

2. If we had to implement the popup, what exactly do You expect to be visible in it? (error message/c

[2019-02-18 10:45] GoebelL commented on #223
@adamczykba
The purpose of this connection tests is to support the user in case if there are problems with setup. On the the other hand, the generic error message cannot provide much help to the user for resolving such. Therefore the UI needs to provide more details information from the causing error.
In order to keep things simple as possible, the connection button should bring up the result with

[2019-02-19 08:31] #158 closed, assigned to kowalczyka, GoebelL, uhu133

[2019-02-19 08:46] GoebelL opened #226 "OSCM REST API integration"
Integrate [OSCM REST API](https://github.com/servicecatalog/oscm-rest-api) as prototype. Here is a [list of tasks](https://github.com/servicecatalog/oscm-rest-api/issues).

[2019-02-19 09:13] GoebelL opened #227 "Synchronize credentials for IaaS integration"
Technology manager credentials are registered in APP and stored encrypted in controller configuration settings. Once the credentials are changed in the OSCM portal they need to be updated in the APP database as well. OSCM should provide for respective synchronization to APP in order to avoid manual procedures and possible lock out here.

Proposed solution until SSO is avaiable
* Internal service i

[2019-02-20 10:01] Crystalzord commented on #85
Hi.
Indeed this issue appears, however this is intentional.
Docker container for oscm-portal access exposes only one port for SSL connection - 8081.
Http connection is not allowed and since the application is on docker, and the container does not expose any port with http connector, the redirection is not easy to setup.
To do the redirection, we would have to expose a port on the docker container,

[2019-02-20 10:01] #85 closed, assigned to Crystalzord

[2019-02-21 11:24] gertipoppel commented on #46
A respective comment has been added to
- DocSources/en/help/tasks/user_pwd.xml  and
- Section "Updating APP and Controller Settings" in the Technology Provider Guide

Fix available as of January 2018

[2019-02-21 11:24] #46 closed, assigned to gertipoppel

[2019-02-21 13:54] Crystalzord commented on #10
Tested on 17.9 2019/02/21 - this issue does not appear anymore. I can see that only left top corner with "Open Service Catalog Manager" logo is cliclable now.

[2019-02-21 13:54] #10 closed, assigned to nobody

[2019-02-21 15:58] uhu133 commented on #213
Example log

[02/21 15:56:40] [EjbTimerPool - 2] DEBUG filename: delete_vm.xml
[02/21 15:56:40] [EjbTimerPool - 2] INFO  Invoking action 'checkVMRunning' of state 'CHECK_VM_RUNNING' for instance '1550762639045'
[02/21 15:56:40] [EjbTimerPool - 2] DEBUG vSphere connection is alive. Check took 20ms. URL: https://vcenter.fjdemo.local/sdk/vimService?wsdl, UserId: administrator@fjdemo.local
[02/21 15:5

[2019-02-21 21:34] #148 closed, assigned to GoebelL, uhu133, cworf91

[2019-02-22 09:24] Crystalzord commented on #9
Tested on 17.9 2019/11/22. This issue still exists. The exception is being thrown only when trying to logout after clicking "Get it now".

[2019-02-22 09:28] Crystalzord commented on #28
Tested on 17.9 2019/11/22. This issue still exists on chrome.

[2019-02-22 12:39] uhu133 commented on #222
feedback/log from test where NIC1_Switch and NIC1_Portgroup were set but NIC1_Network was used (which was not set)

[02/22 12:24:55] [EjbTimerPool - 2] DEBUG Transition from current state 'CREATING' with event 'success' into state 'CONFIGURE'
[02/22 12:25:10] [EjbTimerPool - 3] DEBUG InstanceID: 1550838190541 | OrganizationID: 959c9bf7 | SubscriptionID: SuseV1
[02/22 12:25:10] [EjbTimerPool - 3] D

[2019-02-22 12:40] uhu133 commented on #222
![image](https://user-images.githubusercontent.com/32158057/53243189-65fc9080-36a7-11e9-827b-ff6cf3881069.png)

[2019-02-22 14:31] uhu133 commented on #222
![image](https://user-images.githubusercontent.com/32158057/53248786-d8c13800-36b6-11e9-9f73-ac5fe1aaa1c7.png)

[2019-02-25 11:44] uhu133 opened #229 "Loadbalancer Exception on provisioning"
**Version Info**
tag:portgroup

**Describe the bug**
When leaving the host open as technical parameter an exeception is thrown:

.local
[02/25 11:34:35] [EjbTimerPool - 2] INFO  cloneVMFromTemplate() template: SUSE 11
[02/25 11:34:35] [EjbTimerPool - 2] DEBUG Datacenter: DCFJDEMO Cluster: CLUS1FJDEMO Template: SUSE 11
[02/25 11:34:35] [EjbTimerPool - 2] DEBUG Found system disk in VM SUSE 11  label

[2019-02-25 11:56] Crystalzord commented on #72
Tested on 17.9, 25.02.2019 with over 150 users and around 100 organizations and few services. Seems that this bug is not valid anymore since there is no problem with browser. Also there is no error thrown in logs.

I close the issue since I could not reproduce this bug.

[2019-02-25 14:15] GoebelL commented on #229
Hi @uhu133
for using the load balancer you need to give a valid XML. The given database contains invalid XML data for the load balancer configuration: "vcenter.fjdemo.local" is not an existing element.

Please find [the Schema definition](https://github.com/servicecatalog/oscm/blob/master/oscm-app-vmware/javares/META-INF/Loadbalancer_schema.xsd) and [Sample XML](https://github.com/servicecatalog/o

[2019-02-25 16:16] uhu133 commented on #222
![image](https://user-images.githubusercontent.com/32158057/53351211-1b864880-3921-11e9-89db-7fbe1d8a286f.png)

Booking of VM

[2019-02-25 16:19] uhu133 commented on #222
Log file

[02/25 16:17:17] [EjbTimerPool - 2] DEBUG vcenter: vcenter.fjdemo.local
[02/25 16:17:17] [EjbTimerPool - 2] DEBUG VM: ESCM-test03 taskId: task-1283
[02/25 16:17:17] [EjbTimerPool - 2] DEBUG task-1283 name: CloneVM_Task target: SUSE 11 state: SUCCESS progress: 100% description:  initiated: FJDEMO.LOCAL\Administrator queue-time: Mon Feb 25 16:18:12 UTC 2019 start-time: Mon Feb 25 16:18:12

[2019-02-25 16:20] uhu133 commented on #222
![image](https://user-images.githubusercontent.com/32158057/53351451-9d767180-3921-11e9-9ffc-46f9e58d49bb.png)

[2019-02-25 16:59] uhu133 commented on #229
ok - understood

[2019-02-25 16:59] #229 closed, assigned to GoebelL

[2019-02-26 14:43] fabiorauber opened #231 "Remove organizations (and users)"
I'm probably missing something here, but I can't find out how to remove organizations (and users) from OSCM. The Operator's Guide only shows how to create them, and after some time digging into the interface, I couldn't find a way to do it. Is it possible?

[2019-02-27 10:21] #219 closed, assigned to cworf91

[2019-02-27 10:22] #216 closed, assigned to cworf91

[2019-02-27 10:23] #202 closed, assigned to gertipoppel, cworf91

[2019-02-27 10:24] cworf91 commented on #213
https://github.com/servicecatalog/oscm/pull/232

[2019-02-27 12:33] Crystalzord opened #233 "Error while trying to refresh :8881/oscm-app configuration page after clicking any submit button."
**Version Info**
17.9

**Describe the bug**
After clicking "Check connection" button or save configuration button I am unable to refresh the page using f5 (due to re-submit request). If I try to do so, it ends up in error and to get back to https://10.140.18.99:8881/oscm-app/default.jsf page I have to re-enter this in the browser's address tab.

**How to Reproduce**
Steps to reproduce the behavior

[2019-02-27 14:01] adamczykba opened #234 "Prevent forms from resubmission after refreshing the page"
**Summary:**

On pages that are designed with use of *form* tags, user is promted to resubmit form content.
In some cases that may result with exception being thrown (ex. oscm-app/default.jsf).
It is advised to either redesign the forms to use JS onclick actions rather than submit buttons or introduce navigation rules that will redirect user to the same page.

**Acceptance criteria:**
- [ ] when p

[2019-02-27 14:02] adamczykba commented on #233
Closed as being redundant with more generic #234

[2019-02-27 14:02] #233 closed, assigned to nobody

[2019-02-27 14:06] GoebelL commented on #231
Yes. Basically everything that is created in OSCM can be deleted again. However, there are a few exceptions. Organizations with roles cannot be removed and their roles cannot be revoked.
Note that users can be deleted by their administrator and customer organizations can be deleted via API.

[2019-02-27 15:24] GoebelL commented on #234
The described here is the currectly implemented solution for a list of JSF views in OSCM. However this is a bit brittle, since there is no suitable measure to ensure that this list is complete.
I am convinced we'll find a generic solution, that can be better applied to the UI as whole. For example, this might be to put some servlet filter in front which implements the post-redirect-get pattern.

[2019-02-27 15:29] GoebelL commented on #234
... of course a generic solution requires some attention on the system performance.

[2019-02-28 10:01] #213 closed, assigned to cworf91

[2019-02-28 12:06] Crystalzord commented on #72
After talking to Arkadiusz it turned out that the billing task require some more actions to take the new subscriptions in to account, therefore I did not properly verify if this issue still appears. Will come back to this after finishing my current tasks. Reopen.

[2019-02-28 13:43] adamczykba opened #235 "Check if logging works properly"
During development of #223 I've noticed that logging seems not to work properly (I've literally copy-pasted already existing solution). It's advised to verify if and where logged are being saved as well as checking if other places that are using *slf4j logger* are reporting the logs properly.

![obraz](https://user-images.githubusercontent.com/47355402/53570510-fd118e80-3b66-11e9-859a-fddc2ac21d89

[2019-02-28 13:43] #223 closed, assigned to adamczykba

[2019-02-28 14:43] GoebelL commented on #142
Feature request #227 is targeted to improve the user experience with changing passwords.

[2019-03-07 09:29] GoebelL opened #238 "Fix Branding"
**Summary**
Fix branding build issue on Jenkins job BES_MASTER_UNIT.

**Details**
Ask me.

**Acceptance criteria**
Building without error.

**Additional context**
N/A

[2019-03-08 09:07] adamczykba commented on #235
For *org.oscm.logging.Log4JLogger* to work properly it is needed to activate file appender in logger factory:

![obraz](https://user-images.githubusercontent.com/47355402/54018368-c223e200-4188-11e9-9805-fa3d6294b5f3.png)

In that case, when error is logged in a manner mentioned in this issue's description, logs are appended to **logs/system.log** of **oscm-app** container.

To log errors/warns/in

[2019-03-08 10:54] #217 closed, assigned to adamczykba

[2019-03-08 12:06] kowalczyka opened #240 "Improve ping functionality related UI"
**Summary**
Currently, UI related to check connection for specific controller is a little bit confusing. It should be enhanced so that user understand what issues is he facing of.

**Details**
Check connection button should be visible for every controller definition - it should be enabled/disabled depending on the canPing method result.
Additionaly message which is now displayed for every controll

[2019-03-08 12:19] kowalczyka opened #241 "Oscm-app buttons look and feel"
**Version Info**
v17.10

**Describe the bug**
Buttons in main oscm-app configuration looks and behaves differently than in oscm-portal. There is no mouseover effect and clicking them looks like nothing has happened.

**How to Reproduce**
Steps to reproduce the behavior:
1. Go to oscm-app main page
2. Move cursor over and click the 'Save Configuration' button

**Observed behavior**
No cursor change

[2019-03-08 16:52] fabiorauber commented on #231
And how do I delete (or edit) an organization Administrator? Like, when I typed in the wrong e-mail?

[2019-03-11 09:01] #231 closed, assigned to nobody

[2019-03-11 09:40] adamczykba opened #242 "Implement automated Google Java Code Formatting"
**Summary**

Instead of manually formatting Java code with current templates, it would be more consistent to apply automated code formatting. That will assure that all the classes comply to the same, unified formatting guidelines.

**Details**

N/A

**Acceptance criteria**

- Java code is automatically formated with Google Java Style guidelines
- legal notice is prepended to every class file if no

[2019-03-11 09:43] adamczykba commented on #208
Closed due to being in scope of #242

[2019-03-11 09:43] #208 closed, assigned to adamczykba

[2019-03-11 09:45] GoebelL commented on #227
Acceptence creteria:
- Avoid any tight coupling between BES and APP.

[2019-03-11 10:02] GoebelL commented on #240
Ok, but instead of disabled buttons and warning icons just put a label here "Not configured.".

[2019-03-11 10:38] adamczykba commented on #240
@GoebelL But what if controllers is configured, but exception will be thrown during checking the settings? Should it also display this 'Not configured' label in this case?

[2019-03-12 10:53] GoebelL commented on #222
First version has been provided that allows subscribing the VmWare service using portgroups. The first error on network configuration is fixed. As found from the logs, in first stage when handling the network configuration the apdaters get well configured with specified portgroups and switches. In the end the subscription gets ready. However at later point the created VM got again connected with a

[2019-03-13 13:39] fabiorauber opened #247 "Issues with accented characters"
**Version Info**
v17.10

**Describe the bug**
When saving strings (for instance, in Organization names or Addresses) with accented characters (like ã, õ, ô), the special character is being replaced by interrogation marks ("??").

**How to Reproduce**
Steps to reproduce the behavior:
1. Create and organization or customer with an accented character in the name
2. Visualize the organization name in

[2019-03-13 18:20] fabiorauber commented on #231
Hi @GoebelL Is there a way for the PLATFORM_OPERATOR to remove an user from an organization?

[2019-03-14 00:15] GoebelL commented on #231
Hi @fabiorauber
Administrators can delete users of their organization. Any user of the PLATFROM_OPERATOR organization, who has administrator role can do this. OSCM provides multi-tenancy with respective isolation. Therefore the user administration is scoped on organization level. Further questions? I am happy to answer where I can.

[2019-03-14 00:36] GoebelL commented on #247
@fabiorauber
There hasn't been any change recently. I rather believe you selected a locale for the created organization which's browser language provided charcacter set doesn't supply for those non-ASCII characters. Could this be?

[2019-03-15 09:13] adamczykba commented on #241
@kowalczyka
As discussed earlier, this task will include unifying button styling throughout oscm-app module only.

[2019-03-15 12:23] adamczykba commented on #240
Closed with #245

[2019-03-15 12:23] #240 closed, assigned to adamczykba

[2019-03-15 12:41] #218 closed, assigned to Crystalzord

[2019-03-18 18:22] fabiorauber commented on #247
Actually, when I set the language to English, it works. When I configure an user account to use Portuguese (ISO code pt), and then save a new Organization using a profile that uses Portuguese as the language, the special characters are not being correctly saved, apparently.

PS: my current Browser is configured to use Portuguese (UTF-8) as default language.

[2019-03-19 09:54] adamczykba opened #250 "Missing labels for oscm-app-vmare"
**Version Info**
TBD

**Describe the bug**
Labels/property keys are missing for vmWare controller ui

**How to Reproduce**
Steps to reproduce the behavior:
1. Go to oscm-app-vmare
2. Labels empty keys are shown instead of labels

**Observed behavior**
N/A

**Expected behavior**
Proper labesl should be visible

**Screenshots**
N/A
![obraz](https://user-images.githubusercontent.com/47355402/54598094

[2019-03-19 10:44] #250 closed, assigned to adamczykba

[2019-03-20 15:10] adamczykba opened #255 "Reintroduce SonarQube support"
**Summary**
It would be helpfull to check is SonarQube actually works, and if not - reimplement it so it could be of use.

**Details**
Aside from simply implementing sonar support, it would be good to enforce that quality gate has to pass for PR to be merged. That will ensure proper code quality on new code.

**Acceptance criteria**
- [ ] SonarQube is performed after every push (TBD: all branches,

[2019-03-21 10:22] cworf91 commented on #215
https://github.com/servicecatalog/oscm/pull/243

[2019-03-21 10:23] cworf91 commented on #222
https://github.com/servicecatalog/oscm/pull/248

[2019-03-21 15:55] GoebelL commented on #227
Proposed solution until SSO is avaiable
* Internal service in APP implemented as EJB
* Connectable via RMI / IIOP only via internal port (non-exposed)
* Client connector injected in IdententyServiceBean and notifying APP on password change
* No logging of user data

[2019-03-21 23:12] #87 closed, assigned to nobody

[2019-03-25 08:19] kowalczyka opened #256 "Service for updating APP related configuration settings credentials"
**Summary**
For synchronizing APP credentials with OSCM core related changes (e.g. password updated), new service for updating proper configuration setting should be introduced.

**Details**
Service shoud be introduced as a remote EJB accessible only for oscm-core component.

**Acceptance criteria**
TBD

**Additional context**
No

[2019-03-25 08:57] #235 closed, assigned to adamczykba

[2019-03-25 09:08] GoebelL commented on #138
1. Add a new row "cluster" listing configured clusters from the database as comma-separated list.
2. Put links on each listed cluster which can be used to inspect the detail settings within a popup window
![grafik](https://user-images.githubusercontent.com/14805690/54907271-5ca05700-4ee5-11e9-887f-a12d6eb681bc.png)

[2019-03-25 09:19] kowalczyka opened #257 "Client functionality for APP service related to updating config settings"
**Summary**
For synchronizing APP credentials with OSCM core related changes (e.g. password updated), new functionality on the core side needs to be introduce as client for APP service.

**Details**
TBD

**Acceptance criteria**
TBD

**Additional context**
No

[2019-03-25 09:27] GoebelL opened #258 "Ping button for OpenStack not enabled"
**Version Info**
17.10+

**Describe the bug**
Ping button for OpenStack doesn't enable although all settings have been provided.

**How to Reproduce**
Steps to reproduce the behavior:
* Install OSCM with sample data
* Open _https://&lt;FQDN&gt;:8881/oscm-app-openstack_ and
* Login with default service manager (supplier@adfs.com)
* Configure required OpenStack settings
* Re-login as administrator t

[2019-03-25 09:31] #212 closed, assigned to nobody

[2019-03-25 12:45] #241 closed, assigned to adamczykba

[2019-03-27 01:10] #238 closed, assigned to GoebelL

[2019-03-27 06:46] Crystalzord commented on #164
Some additional logs and changes to log4j templates that allow info logs to be saved in the .log files merged in commit https://github.com/servicecatalog/oscm/commit/37ebb6b0a1e133219b4f8beb7323deefa659ba9a.

[2019-03-27 06:46] #164 closed, assigned to Crystalzord

[2019-03-27 10:39] GoebelL opened #259 "Fix ClusterImporterTest"
**Summary**
Fix org.oscm.app.vmware.importer.ClusterImporterTest

**Details**
Message
[code]
**Acceptance criteria**
Tests passing

**Additional context**
N/A

[2019-03-27 12:52] Crystalzord commented on #258
This issue applies also to VMWare controller, since we used the same logic. That function takes the authentication data from current user session, so canPing() works only for user that provided settings for the controller. Should we have the same controller settings for every user or should the settings be individual and unique for each user?

![Controller-get-settings](https://user-images.githubu

[2019-03-29 16:22] #242 closed, assigned to adamczykba

[2019-04-02 10:17] Crystalzord opened #263 "AWS Subscription in pending state forever when wrong AMI ID given."
**Version Info**
Open Service Catalog Manager 17.10

**Describe the bug**
When creating a subscription to AWS EC2 service with wrong AMI ID the subscription stays in pending state forever, giving no logs and no e-mail updates about its status (only create subscription log and email is received)

**How to Reproduce**
Steps to reproduce the behavior:
1. Login as Technology Provider
2. Import Technic

[2019-04-02 10:36] Crystalzord commented on #214
Hello.

I wonder - how could I reproduce this bug?
Because whenever I try to set a security group to a non existing one, or to any existing one, the service seems to ignore it and it sets the security group to default anyway.
Example setting:
![aws-bug-localized-setting](https://user-images.githubusercontent.com/19170783/55396297-de2a6180-5543-11e9-8612-4a442f28802b.PNG)

Logs suggest that there w

[2019-04-02 14:42] cworf91 commented on #216
![vmware_customtab](https://user-images.githubusercontent.com/14805690/55418908-ef8b6200-5573-11e9-84cc-31c2d493344e.png)

[2019-04-02 14:48] GoebelL commented on #216
Just ignore the names used. Of course the tab name is configurable by the supplier.

[2019-04-02 16:20] kowalczyka opened #264 "Google code formatter behaves not as expected"
**Version Info**
Latest

**Describe the bug**
Automatic google code formatter is not working as expected.

**How to Reproduce**
Steps to reproduce the behavior:
1. Check the commits: https://github.com/servicecatalog/oscm/commits/task/synchronize_credentials
2. No code formatting after https://github.com/servicecatalog/oscm/commit/9a563f0bfaca9cfc5660e0d816f7e3b32d64cb7e
3.  Strange behaviour in c

[2019-04-02 16:45] GoebelL commented on #264
@kowalczyka
Ok, good found. As for the time beeing I suggest to revert this code formater from master in order to avoid further mess.
Furthermore the given travis results also indicate that `testIsContainCopyrightHeader` is missing some adaption, because having this code formatter the Java files would be pushed without copyright header.

[2019-04-03 07:35] adamczykba commented on #264
@GoebelL @kowalczyka
Would it be fine to just disable the travis stage until issue is fixed?

[2019-04-03 08:31] GoebelL commented on #263
Please check what are the options to improve the error handling on the controller side.

[2019-04-03 15:17] uhu133 commented on #214
Problem still exists.

let's have a telco to investigate
![image](https://user-images.githubusercontent.com/32158057/55490586-4a848e00-5634-11e9-99f2-02f7642e1e1e.png)

[2019-04-04 10:47] elfriedegoetz opened #268 "VM import for VMware has no helpful error handling"
**Version Info**
docker build 4.4.2019

**Describe the bug**
If an error occurs during import, the subscription remains in status pending. There is no error description. A stack overflow is logged in the oscm-app log file. Was tested e.g. with wrong Subscription Id, Instance ID, not suitable organizationID

**How to Reproduce**
Steps to reproduce the behavior:
1. Go to Marketplace and select a ser

[2019-04-04 12:15] cworf91 commented on #259
https://github.com/servicecatalog/oscm/pull/267

[2019-04-04 12:15] #259 closed, assigned to cworf91

[2019-04-04 14:11] GoebelL opened #271 "Approval trigger for other organizations"
1. Check if and which users can be assigned to approve subscriptions of other customer organizations.

[2019-04-05 07:06] #138 closed, assigned to cworf91

[2019-04-05 07:30] raonadeem commented on #174
Hi @GoebelL
Can you please confirm if OpenID connect has been integrated in oscm latest release?

[2019-04-05 09:28] GoebelL commented on #268
@cworf91
Thanks for fixing the stackoverflow error. The error message is logged correctly now.
It would be good, if an error notification is given in the marketplace portal or in email to the customer. The subscription interface is designed to handle this.
Please check why [abortAsyncSubscription ](https://github.com/servicecatalog/oscm/blob/master/oscm-subscriptionmgmt/javasrc/org/oscm/subscripti

[2019-04-05 09:30] elfriedegoetz opened #272 "Azure controller: status tab does not work"
**Version Info**
docker build 4.4.2019

**Describe the bug**
![azure](https://user-images.githubusercontent.com/15209605/55617864-5b004a00-5795-11e9-8b55-bfb8e26eba64.PNG)

the table is empty
For VMware it looks fine

![vmware](https://user-images.githubusercontent.com/15209605/55618177-2a6ce000-5796-11e9-8e7c-d316e3b8c117.PNG)

[2019-04-05 11:29] GoebelL commented on #272
The feature is not implemented for azure controller yet.

[2019-04-05 11:29] Crystalzord opened #273 "AWS Subscription is in pending state forever even when instance is provisioned properly!"
**Version Info**
OSCM 17.10

**Describe the bug**
As the tittle says - even when the instance is up and running with checks completed on AWS EC2 Service console, the subscription still stays in pending state!

**How to Reproduce**
Steps to reproduce the behavior:
1. Login as Technology Provider
2. Import TechnicalService AWS template
3. Define the AWS service and publish on marketplace.
4. Subscri

[2019-04-05 11:42] GoebelL opened #274 "Status tab for azure controller"
**Summary**
Provide custom tab with status information for Azure instances in the My Subscription page, in they way like it's provided for VMWare service subscriptions.

**Acceptance criteria**
Basic informaton is displayed in the table
* Name
* Instance ID
* Instance Type
* Status
* IPs (private and public IPs if present)
* Server Information
* Technical Details

**Additional context**
See VMWare

[2019-04-05 11:44] GoebelL commented on #272
Added feature request https://github.com/servicecatalog/oscm/issues/274

[2019-04-05 11:44] #272 closed, assigned to nobody

[2019-04-05 11:58] GoebelL commented on #273
@Crystalzord
Usually the information can be found from causing exceptions of such log entries. Please check the unauthorized access entries and if the AWS controller connection is properly configured: Does the configured user have the required roles as administrator, service manager and technology manager?

[2019-04-05 12:06] Crystalzord commented on #273
You were right Lorenz, I did not configure the controller settings properly...
Closing as not relevant.

[2019-04-05 12:06] #273 closed, assigned to Crystalzord

[2019-04-05 12:09] adamczykba commented on #264
@GoebelL
Format step is currently commented out to avoid futher mess

[2019-04-05 14:42] GoebelL commented on #264
Thanks.

[2019-04-05 14:53] Crystalzord commented on #263
This issue appears, as many other pending forever issues only when controller is not configured correctly (different user running aws service and different user configured as AWS controller owner).

Closing as not relevant.

[2019-04-05 14:53] #263 closed, assigned to nobody

[2019-04-08 08:10] GoebelL commented on #216
This has been integrated with OSCM v17.10.

[2019-04-08 08:54] GoebelL opened #279 "VMWare controller: Allow to connect IP pools with VDS"
**Details**
VMWare VM that is provisioned with OSCM shall be connectable with IP retrieved from a configured IP pool. The request is to provide for configuring an optional IP pool together with each portgroup as technical service paramerters.

**Acceptance criteria**
later

**Additional context**
later

[2019-04-08 10:27] cworf91 opened #280 "VM name already exist"
**Version Info**
17.10

**Describe the bug**
When creating a new VM I sometimes get an error that the vm would already exist though it doesn't.
(It might be that the VM with this name existed before but was deleted.)

**How to Reproduce**
Steps to reproduce the behavior (not always):
1. Go to Marketplace
2. Create new Subscription
3. Wait
4. See error

**Observed behavior**
The vm can´t create, be

[2019-04-10 12:06] cworf91 opened #282 "VMware customtab needs authorization"
**Version Info**
17.10

**Describe the bug**
When the customtab  tab for the VMware controller is enabled, it asks for permission to access the page

**How to Reproduce**
Steps to reproduce the behavior:
1. Activate the costumtab in the OSCM Portal
2. Click on "MY SUBSCRIPTIONS" and select a VM
3. Scroll down to the end and click on the customtab window
4. See authorization request

**Observed beh

[2019-04-10 12:06] cworf91 commented on #282
https://github.com/servicecatalog/oscm/pull/283

[2019-04-10 12:08] cworf91 commented on #268
https://github.com/servicecatalog/oscm/pull/284

[2019-04-11 07:05] #282 closed, assigned to cworf91

[2019-04-11 07:36] cworf91 opened #285 "vmware provisioning remains in pending"
**Version Info**
17.10

**Describe the bug**
In a DistributedVirtualSwitch environment the provisioning of a VM stays in pending. The reason for this is that the ip is not resolved and therefore ipready does not become true

**How to Reproduce**
Steps to reproduce the behavior:
1. Go to Marketplace
2. Click on a service which provides VM´s in a distribut switch environment
3. Create subscriptioin

[2019-04-11 07:36] cworf91 commented on #285
https://github.com/servicecatalog/oscm/pull/278

[2019-04-11 07:36] #285 closed, assigned to cworf91

[2019-04-12 08:32] #256 closed, assigned to kowalczyka

[2019-04-12 13:11] #264 closed, assigned to adamczykba

[2019-04-16 08:17] Crystalzord commented on #214
Fixed in commit https://github.com/servicecatalog/oscm/commit/0a5d229f2110e9214635d1d6d93b5585692d8b68

[2019-04-16 08:17] #214 closed, assigned to Crystalzord

[2019-04-16 12:17] GoebelL commented on #271
Generally OSCM triggers can be approved by administrators of the organization owning the process.
For suspending subscription triggers this is the organization of the customer who creats the subscription. This is based on fundamental design of organizations and multi-tenancy isolation in OSCM.

Nevertheless, OSCM provides for building approval workflows, which can span across different organizatio

[2019-04-17 07:56] elfriedegoetz opened #287 "VMware csv upload failed"
**Version Info**
docker build 10.4.2019

**Describe the bug**
the sample csv file ...oscm/tree/master/oscm-app-vmware/resources/csv/cluster.csv does not work.

**How to Reproduce**

1. Go to ..oscm-app-vmware
2. upload the cluster.csv file of the sample

**Observed behavior**
Error message:
"Error during CSV configuration file upload. Incorrect data format. Expected: 4 columns, got: 3."

**Expecte

[2019-04-17 11:45] elfriedegoetz commented on #162
update detail information after start/stop still not work for vmware. Azure and aws work fine

[2019-04-17 12:03] elfriedegoetz commented on #162
the status tab works fine therefore I close the bug again.

[2019-04-17 12:03] #162 closed, assigned to nobody

[2019-04-18 10:00] cworf91 commented on #287
Example works as expected.

[2019-04-18 10:00] #287 closed, assigned to cworf91

[2019-04-18 10:59] cworf91 opened #289 "Missformated loadbalancer config"
**Version Info**
17.10

**Describe the bug**
If you want to view the loadbalancer configuration in the VMware UI, it is formatted incorrectly.

**How to Reproduce**
Steps to reproduce the behavior:
1. Go to xxx:8881/oscm-app-vmware/
2. Click on a cluster link
3. See the wrong format

[2019-04-18 10:59] cworf91 commented on #289
https://github.com/servicecatalog/oscm/pull/288

[2019-04-18 10:59] #289 closed, assigned to nobody

[2019-04-18 12:00] cworf91 commented on #215
![graphic](https://user-images.githubusercontent.com/14805690/56363538-c06c2600-61ec-11e9-9674-d429d14ebfb6.png)
![ConsoleView](https://user-images.githubusercontent.com/44837963/56359612-58b0dd80-61e2-11e9-8e16-3748d7176107.PNG)

[2019-04-18 12:00] #215 closed, assigned to GoebelL, cworf91

[2019-04-19 10:16] kowalczyka opened #290 "Code formatter breaks the Travis build"
**Version Info**
latest

**Describe the bug**
Travis build is failing after the automatical change of copyright header by code formatter.

**How to Reproduce**
Steps to reproduce the behavior:
1. Commit any change to the repository
2. Check that formatter has run
3. Check that Travis build is failing because of unit test for header failure

**Observed behavior**
Travis build is failing.

**Expecte

[2019-04-23 08:48] elfriedegoetz commented on #268
Dear user,

The current operation on subscription 'xxx' for customer 'PLATFORM_OPERATOR' has been suspended (Instance: '1556007920907').

Reported problem: null

The error message is still not helpful, if the subscriptionID is not valid. I would expect a message like:

The provisioning process for subscription 'xxx' for customer 'PLATFORM_OPERATOR' has been aborted (instance: '1556007505565'), bec

[2019-04-23 09:18] GoebelL opened #292 "Adjust format of generated copyright headers"
**Summary**
Generated source code headers containing HTML paragraph tags `<p>` look weird.

**Details**
Solve or workaround to have paragraph tags removed.

**Acceptance criteria**
No paragraph tags

[2019-04-23 11:45] cworf91 commented on #268
https://github.com/servicecatalog/oscm/pull/293
https://github.com/servicecatalog/oscm/pull/295

[2019-04-24 07:33] cworf91 commented on #268
Throws now AbortException with the errormessage "Failed to determine the access info for VM instance"

[2019-04-24 07:33] #268 closed, assigned to cworf91

[2019-04-30 14:59] #142 closed, assigned to nobody

[2019-05-06 07:47] GoebelL opened #302 "SSO support with OpenID Connect"
**Summary**
Revoke SSO support for OSCM marketplaces with external identity providers based on OpenID Connect.

**Details**
In SSO mode the Platform Operator administrator shall define an OpenID provider connection for each organization. Tenant users registered with the configured OP are redirected to the provider for login. All authentication flow is handled by the provider.
Regarding authenticat

[2019-05-06 09:38] #290 closed, assigned to adamczykba

[2019-05-08 09:44] kowalczyka opened #304 "Remove/Tidy up unnecessary APP related projects"
**Summary**
APP related projects must be removed/cleaned up.

**Details**
APP related projects are going to be reintroduced as maven modules. Those will be kept on separate repository.

**Acceptance criteria**
- [x] Build processes (including Build.LIB, Build.BES) are successfull
- [x] Build.APP is no longer relevant
- [x] APP related projects are removed (with no impact for the projects which are

[2019-05-10 13:06] GoebelL opened #306 "Failed password recovery as technology manager"
**Version Info**
v17.10+

**Describe the bug**
Starting password recovery failed from administration portal.

**How to Reproduce**
Steps to reproduce the behavior:
1. Login as technology manager tm and logout
2. Restart browser
3. Open oscm-portal and select password forgotton link
4. Provide user id of tm

**Observed behavior**
The technology manager retrieves an email notification that the recov

[2019-05-10 13:29] GoebelL commented on #306
Fixed in https://github.com/servicecatalog/oscm/pull/307

[2019-05-10 14:06] #306 closed, assigned to GoebelL

[2019-05-10 14:08] #125 closed, assigned to cworf91

[2019-05-10 14:13] #257 closed, assigned to kowalczyka

[2019-05-10 14:13] #227 closed, assigned to kowalczyka

[2019-05-17 09:58] cworf91 commented on #279
To use the IP pool for distributed virtual switches, you must first provide all the information you need via the oscm-app-vmware interface.
![CSV Upload](https://user-images.githubusercontent.com/44837963/57919986-3fab5300-789a-11e9-8698-0275c587409b.PNG)
These include Cluster, DistributedVirtualSwitch, Portgroup, and IPPool. It is important to note here that the option "IPPool" is only working fo

[2019-05-17 12:20] #279 closed, assigned to cworf91

[2019-05-17 12:20] #199 closed, assigned to cworf91

[2019-05-17 12:20] #191 closed, assigned to cworf91

[2019-05-17 12:21] #198 closed, assigned to cworf91

[2019-05-17 12:21] #172 closed, assigned to GoebelL

[2019-05-17 12:21] #222 closed, assigned to cworf91

[2019-05-17 14:55] GoebelL commented on #271
It might be a viable idea to enhance the OSCM trigger handling in direction to support an external approval flow that works in following steps:
1. The service manager S of a supplier organization defines 'create subscription trigger' definition in the administration portal
2. The subscription manager or administrator SM of a customer organization subscribes a service from  supplier S in the market

[2019-05-20 06:41] uhu133 opened #309 "Sort list by service names in admin portal"
**Summary**
Item lists needs to be sorted in order to find the items if you have more than 10 of them

(A) customers  and organizations

1. manage suppliers
2. export billing data
3. manage customer
4. manage VAT rates
5. view subscription
define price model for customer

(B) marketable services
1. update service
2. copy service
3. delete service
4. define up/downgrade
5. define publishing
Activat

[2019-05-20 06:44] uhu133 opened #310 "Choose default payment type when subscribing"
When subscribing to a service you need to select the payment type and payment address even there is only one.

Make the one existing choice (usually invoice, usually one address) pre-selected.

[2019-05-20 06:50] uhu133 opened #311 "Wrong encoding of "umlaute""
German "Umlaute" are displayed wrong at

1 Profil name, first name
2. Subscription Name
3. Subscription Reference

[2019-05-20 08:11] GoebelL commented on #311
Related with https://github.com/servicecatalog/oscm/issues/247

[2019-05-20 08:13] GoebelL opened #312 "Sample Application"

[2019-05-20 08:37] kowalczyka opened #313 "Introduce end to end test framework"
**Summary**
Currently we are missing end to end test. This task would be to introduce framework for this.

**Details**
Selenium would be one of the idea to cover this task. Additionally it would be good to prepare some simple test for APP part which could be then extended.

**Acceptance criteria**
TBD

**Additional context**
Please check oscm-webtest-base and oscm-portal-webtest projects which was

[2019-05-20 09:11] GoebelL opened #314 "Create Sample Application"
Sample Web application for integrating with Azure AD.
E.g. check https://github.com/Azure-Samples/active-directory-java-webapp-openidconnect

[2019-05-20 09:15] GoebelL opened #315 "SSO architecture overview"

[2019-05-20 13:18] GoebelL commented on #258
**Fix Summary**

1. The session user dependency has been removed. The functionality is available to the platform administrator now.
2. The logging has been fixed. On each access to APP UI many error stack traces were written in the log file. However it's a very valid case that connections are not configured - f.e. because respective controllers are not used. In such a case the logging is very misl

[2019-05-20 13:20] #258 closed, assigned to GoebelL, Crystalzord

[2019-05-20 13:25] GoebelL commented on #23
This is no longer needed as credentials can be changed from the adminstrator portal now.
See https://github.com/servicecatalog/oscm/issues/227

[2019-05-20 13:25] #23 closed, assigned to GoebelL

[2019-05-20 16:23] GoebelL commented on #9
The subscription UI wizard is implemented with JSF conversation scope managed beans. There is a NonexistentConversationFilter that is supposed to handle such cases when the conversation is lost. I have just found that this filter is not activated in web.xml descriptor for the oscm-portal in TomEE.

It might be a hint to check the filter definition in `oscm-portal/WebContent/WEB-INF/web.xml` and co

[2019-05-22 08:45] GoebelL commented on #311
**How to Reproduce**
Steps to reproduce the behavior:
1. Login to marketpalce portal
2. Go to 'Home>Account>Profile'
3. Open tab 'Organization Data'
4. Change address containing non-ASCII chars (ä, ü, ö, ß)
5. Save

**Expected result**
All characters are correctly displayed as entered.

**Observed result**
Text is garbled with broken encoding for special characters.

[2019-05-22 09:04] GoebelL commented on #311
I debugged a little in the portal and found that the encoding already brakes in the UI. The model backing beans already retrieve garbled values from the JSF views. The HTML header in rendered output does contain respective directive to use a UTF-8 charset.
``` <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">```
It might be necessary to add information to use UTF-8 encoding on ev

[2019-05-22 09:09] farmakiG commented on #311
Ok, thank you, I have already reproduced it. I will check your suggestion

[2019-05-22 09:26] GoebelL opened #316 "Delete Customer menu has a wrong help link"
**Version Info**
v18.0

**Describe the bug**
In the administrator portal the online-help context link for the delete customer page is boken.

**How to Reproduce**
Steps to reproduce the behavior:
1. Login to the administrator portal
2. Select `Pricemodel>Delete for Customer` from menu
3. Click "?"

**Expected Result**
Clicking on the "?" leads to the context help page. Link points to `.../oscm-por

[2019-05-23 13:25] farmakiG commented on #271
The two following options were considered for offering the requested feature:
1.	Provide an external tool for approvals for suppliers.
2.	Extend the existing OSCM functionality and portal to provide approvals for suppliers.

The effort for extending the OSCM functionality is moderate and the changes do not affect any external interface Web Service or REST Service, so it has been decided to follow

[2019-05-24 10:25] GoebelL opened #318 "Technical Concept"

[2019-05-24 10:27] #318 closed, assigned to farmakiG

[2019-05-27 07:38] farmakiG commented on #318
**Allow the approval of trigger processes for Suppliers.**

Enhance the OSCM internal interface and the portal in order to allow the approval of waiting customer subscriptions of suppliers.
The supplier will be allowed to define a "Subscripbe to Service" trigger type as well as to approve waiting subscriptions. The UI will be extended with an extra button "Approve" in the processes page and possib

[2019-05-28 12:56] farmakiG commented on #247
Close as duplicate of issue #311.

[2019-05-28 12:56] #247 closed, assigned to GoebelL

[2019-05-29 09:11] #310 closed, assigned to farmakiG

[2019-05-31 08:36] #304 closed, assigned to nobody

[2019-06-04 08:28] farmakiG opened #322 "Sort Service Lists by names in admin portal"

[2019-06-04 08:36] #322 closed, assigned to nobody

[2019-06-04 08:43] farmakiG opened #323 "Marketable Services pages - Dropdown list sorting"
marketable services

    update service
    copy service
    delete service
    define up/downgrade

[2019-06-04 08:49] farmakiG opened #324 "Service Deactivation Page - alphabetical list sorting."
**Summary**
Change the current list sorting in the "Services Deactivation"page.

**Details**
The current used sorting is based on the marketplace and the technical service id.
However, the services should be sorted alphabetically.

[2019-06-04 08:51] farmakiG opened #325 "Customers and Organization Pages - Dropdown list sorting"
**Summary**
Adapt list sorting for all dropdown menus related to customer and organizations.

**Details**
customers and organizations

    manage suppliers
    export billing data
    manage customer
    manage VAT rates
    view subscription
    define price model for customer

[2019-06-04 08:55] farmakiG opened #326 "Technical Services - Dropdown list sorting"
**Summary**
Technical Services in drop-down-menus should be sorted (locale-sensitive) alphabetically.

**Details**
technical services
1.	update service definition
2.	delete service definition

**Acceptance criteria**
Manual tests. How much percent coverage?

**Additional context**
N/A.

[2019-06-04 08:57] farmakiG opened #327 "Check list sorting in other admin portal pages"
**Summary**
Check the used list sorting of the admin portal pages, and change if necessary.

[2019-06-04 08:59] farmakiG opened #328 "Price Model Pages - Dropdown list sorting"
**Summary**
Adapt the list sorting for all dropdown menus of the price model pages.

**Details**
define price for service (Service dropdown menu)
define price model for customer (Service + Customer dropdown menu)
delete for customer (Service + Customer dropdown menu)

**Acceptance Criteria**
Manual test. Code coverage above 60%.

**Additional Context**
N/A

[2019-06-04 10:05] #312 closed, assigned to nobody

[2019-06-04 11:19] kowalczyka opened #329 "Cleanup leftovers after APP migration to maven"
**Summary**
APP was moved to other repository as it is now build with maven. In the repo there are still some leftovers related to APP projects and build which are no longer needed.

**Details**
Check the acceptance criteria for more details.

**Acceptance criteria**
- [x] APP is removed from OSCM build scripts (targets, dependencies etc.)
- [x] APP controller related libs are removed from iby bui

[2019-06-06 11:37] elfriedegoetz commented on #311
"Umlaute" for Subscription Name does not work, if try to subscribe to a vm

[2019-06-06 11:38] elfriedegoetz commented on #311
![umlaute](https://user-images.githubusercontent.com/15209605/59030107-4eb16f80-8860-11e9-810d-3e42b77920da.PNG)

[2019-06-06 11:40] elfriedegoetz commented on #311
for Profile data it works fine

[2019-06-06 13:00] #323 closed, assigned to farmakiG

[2019-06-06 13:00] #325 closed, assigned to farmakiG

[2019-06-06 13:00] #326 closed, assigned to farmakiG

[2019-06-07 07:32] GoebelL opened #332 "Fix branding job"
**Summary**
Jenkins job for branding adaption failing since removing APP from OSCM.

**Acceptance criteria**
Jenkins jobs running successuful

**Additional context**
Ask me.

[2019-06-11 15:29] #324 closed, assigned to farmakiG

[2019-06-11 15:29] #328 closed, assigned to farmakiG

[2019-06-12 13:54] farmakiG opened #336 "Operation failed upon service selection in Service Price Model page."
**Version Info**
OSCM v18.0

**Describe the bug**
In the "Price Model-> Define for Service" page, an "Operation failed" message appears if the user first selects a Service and then switches again to the default option "--Select one--". The page is not accessible anymore. Exactly the same behavior appears upon service selection in the "Price Model->Define for Customer" page.

**Screenshots**
![Scre

[2019-06-12 17:07] GoebelL commented on #332
Branding is working fine now.

However, while fixing this I discovered another issue. See [here](https://github.com/servicecatalog/oscm-app/issues/24).

This one is done.

[2019-06-12 17:07] #332 closed, assigned to kowalczyka, GoebelL

[2019-06-12 17:33] GoebelL commented on #314
Deployed and explored sample.

[2019-06-12 17:33] #314 closed, assigned to GoebelL

[2019-06-13 08:58] farmakiG commented on #327
The following pages of the classic portal can be enhanced to sort lists of names alphabetically.
It can be decided at a customer-level which pages/lists have high or low priority for implementation, based on: 1. if the scrolling of large lists is cumbersome for the user and 2. if the lists can be rather large or not.

* Operation:
  * Manage currencies page: Currencies can be sorted alphabetically

[2019-06-13 08:58] #327 closed, assigned to farmakiG

[2019-06-13 09:17] farmakiG commented on #309
Closed all subtasks.

[2019-06-14 07:57] farmakiG opened #337 "List sorting of names in admin portal"
**Summary**
This epic comprises all the list sortings of names in the blue portal (dropdowns and datatables).

**Details**
Many pages of the classic portal can be enhanced to sort lists of names alphabetically.
It can be decided at a customer-level which pages/lists have high or low priority for implementation, based on: 1. if the scrolling of large lists is cumbersome for the user and 2. if the l

[2019-06-14 08:03] farmakiG opened #338 "Marketplaces - Dropdown List Sorting"
**Summary**
Sort the "Marketplace" dropdown menu, in all admin portal pages where it occurs.
_Note_: clarify which list sorting applies to the customer use cases and should be implemented.

**Details**
* Manage Users: “Marketplace” dropdown menu.
* Define publishing options: “Marketplace” dropdown menu.
* Marketplace:
  * Manage categories, Manage access, Update marketplace, Delete marketplace, De

[2019-06-14 08:09] farmakiG opened #339 "Operation Pages - Datatable column sorting"
**Summary**
Datatable column sorting in the admin portal Operation Pages.

**Details**
Operation:
* Manage currencies page. Currencies can be sorted alphabetically.
* Manage LDAP settings. List of Organization IDs can be sorted alphabetically.

[2019-06-14 08:12] farmakiG opened #340 "List sorting of admin portal Customer Pages"
**Summary**
List sorting for the admin portal Customer and Organization Pages.

**Details**
Note: clarify which list sorting applies to the customer use cases and should be implemented.

**Organizations Sorting**
In the following pages the list of suggested organizations for the "Organization ID" field should be sorted alphabetically.

* Manage Organization: "Organization ID" field.
* Manage LDAP

[2019-06-14 08:16] farmakiG opened #341 "Services Pages - Datatable column sorting"
**Summary**
The table columns for the Service Pages can be sortable.
_Note_: clarify which list sorting applies to the customer use cases and should be implemented.

**Details**
Technical Service:
* Import service definition: all table columns can be sortable.

Marketable service:
* Activate or deactivate services: The columns “Service ID”, “Technical service name”, “Marketplace” and “Organization

[2019-06-17 10:08] kowalczyka opened #344 "Implement the authentication flow for default tenant"
**Summary**
In SSO mode, oscm-identity service should be used for authenticating the user with external identity provider. As a start default tenant is used.

**Details**
Provide the functionality which will enable:
- to use oscm-identity login endpoint for authentication and then set the authenticated user in session context
- to use oscm-identity logout endpoint for logging out current user
- to

[2019-06-17 11:04] #329 closed, assigned to kowalczyka

[2019-06-18 07:39] #316 closed, assigned to farmakiG

[2019-06-18 07:40] #336 closed, assigned to farmakiG

[2019-06-18 08:03] farmakiG commented on #9
Works as designed.

There is no operation failed message anymore, the marketplace page is rendered properly, showing the appropriate "subscription repeat steps" error message.

**Details**
Since the conversation of the subscription wizard bean is ended by clicking on logout, a NonExistentConversationException is thrown. This exception is logged in the log file, which is correct behavior. The appro